// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2023.1.1.200.1
// Netlist written on Wed May 15 14:46:56 2024
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "f:/mysoftware/lattice/radiant/ip/pmi/pmi_ice40up.v"
// file 1 "f:/mysoftware/lattice/radiant/ip/pmi/pmi_ice40up.vhd"
// file 2 "f:/mytemporary/github/glpp2024/camoveruart/ipcores/my_fifo/rtl/my_fifo.v"
// file 3 "f:/mytemporary/github/glpp2024/camoveruart/ipcores/my_pll/rtl/my_pll.v"
// file 4 "f:/mytemporary/github/glpp2024/camoveruart/source/impl_1/zcfgm3256lbyfpga.v"
// file 5 "f:/mytemporary/github/glpp2024/camoveruart/source/impl_1/zcfgm3256lbystm32.v"
// file 6 "f:/mytemporary/github/glpp2024/camoveruart/source/impl_1/zcfgov5640byfpga.v"
// file 7 "f:/mytemporary/github/glpp2024/camoveruart/source/impl_1/zcfgov5640bystm32.v"
// file 8 "f:/mytemporary/github/glpp2024/camoveruart/source/impl_1/zclkdivider4sccb.v"
// file 9 "f:/mytemporary/github/glpp2024/camoveruart/source/impl_1/zdatacapture.v"
// file 10 "f:/mytemporary/github/glpp2024/camoveruart/source/impl_1/zgpiomultiplexer.v"
// file 11 "f:/mytemporary/github/glpp2024/camoveruart/source/impl_1/zircamoveruart.v"
// file 12 "f:/mytemporary/github/glpp2024/camoveruart/source/impl_1/zirtaskschedule.v"
// file 13 "f:/mytemporary/github/glpp2024/camoveruart/source/impl_1/zoctalramoperator.v"
// file 14 "f:/mytemporary/github/glpp2024/camoveruart/source/impl_1/zuartcommunication.v"
// file 15 "f:/mysoftware/lattice/radiant/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 16 "f:/mysoftware/lattice/radiant/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 17 "f:/mysoftware/lattice/radiant/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 18 "f:/mysoftware/lattice/radiant/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 19 "f:/mysoftware/lattice/radiant/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 20 "f:/mysoftware/lattice/radiant/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 21 "f:/mysoftware/lattice/radiant/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 22 "f:/mysoftware/lattice/radiant/cae_library/simulation/verilog/ice40up/ib.v"
// file 23 "f:/mysoftware/lattice/radiant/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 24 "f:/mysoftware/lattice/radiant/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 25 "f:/mysoftware/lattice/radiant/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 26 "f:/mysoftware/lattice/radiant/cae_library/simulation/verilog/ice40up/ob.v"
// file 27 "f:/mysoftware/lattice/radiant/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 28 "f:/mysoftware/lattice/radiant/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 29 "f:/mysoftware/lattice/radiant/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 30 "f:/mysoftware/lattice/radiant/cae_library/simulation/verilog/ice40up/rgb.v"
// file 31 "f:/mysoftware/lattice/radiant/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 32 "f:/mysoftware/lattice/radiant/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 33 "f:/mysoftware/lattice/radiant/cae_library/simulation/verilog/ice40up/legacy.v"
// file 34 "f:/mysoftware/lattice/radiant/ip/avant/fifo/rtl/lscc_fifo.v"
// file 35 "f:/mysoftware/lattice/radiant/ip/avant/fifo_dc/rtl/lscc_fifo_dc.v"
// file 36 "f:/mysoftware/lattice/radiant/ip/avant/ram_dp/rtl/lscc_ram_dp.v"
// file 37 "f:/mysoftware/lattice/radiant/ip/avant/ram_dq/rtl/lscc_ram_dq.v"
// file 38 "f:/mysoftware/lattice/radiant/ip/avant/rom/rtl/lscc_rom.v"
// file 39 "f:/mysoftware/lattice/radiant/ip/common/adder/rtl/lscc_adder.v"
// file 40 "f:/mysoftware/lattice/radiant/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 41 "f:/mysoftware/lattice/radiant/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 42 "f:/mysoftware/lattice/radiant/ip/common/counter/rtl/lscc_cntr.v"
// file 43 "f:/mysoftware/lattice/radiant/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 44 "f:/mysoftware/lattice/radiant/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 45 "f:/mysoftware/lattice/radiant/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 46 "f:/mysoftware/lattice/radiant/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 47 "f:/mysoftware/lattice/radiant/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 48 "f:/mysoftware/lattice/radiant/ip/pmi/pmi_add.v"
// file 49 "f:/mysoftware/lattice/radiant/ip/pmi/pmi_addsub.v"
// file 50 "f:/mysoftware/lattice/radiant/ip/pmi/pmi_complex_mult.v"
// file 51 "f:/mysoftware/lattice/radiant/ip/pmi/pmi_counter.v"
// file 52 "f:/mysoftware/lattice/radiant/ip/pmi/pmi_dsp.v"
// file 53 "f:/mysoftware/lattice/radiant/ip/pmi/pmi_fifo.v"
// file 54 "f:/mysoftware/lattice/radiant/ip/pmi/pmi_fifo_dc.v"
// file 55 "f:/mysoftware/lattice/radiant/ip/pmi/pmi_mac.v"
// file 56 "f:/mysoftware/lattice/radiant/ip/pmi/pmi_mult.v"
// file 57 "f:/mysoftware/lattice/radiant/ip/pmi/pmi_multaddsub.v"
// file 58 "f:/mysoftware/lattice/radiant/ip/pmi/pmi_multaddsubsum.v"
// file 59 "f:/mysoftware/lattice/radiant/ip/pmi/pmi_ram_dp.v"
// file 60 "f:/mysoftware/lattice/radiant/ip/pmi/pmi_ram_dp_be.v"
// file 61 "f:/mysoftware/lattice/radiant/ip/pmi/pmi_ram_dq.v"
// file 62 "f:/mysoftware/lattice/radiant/ip/pmi/pmi_ram_dq_be.v"
// file 63 "f:/mysoftware/lattice/radiant/ip/pmi/pmi_rom.v"
// file 64 "f:/mysoftware/lattice/radiant/ip/pmi/pmi_sub.v"

//
// Verilog Description of module ZIRCAMOverUART
//

module ZIRCAMOverUART (input ioIR_Data1_UP_UART_Tx, input iIR_Data2_UP_UART_Rx, 
            inout ioIR_Data3_UPLD_Done, input iIR_Data4, input ioIR_Data5_CFG_UART_Tx, 
            input iIR_Data6_CFG_UART_Rx, input iIR_Data7, input iIR_Data8, 
            input iIR_Data9, input iIR_Data10, input iIR_Data11, input iIR_Data12, 
            input iIR_Data13, input iIR_Data14, input iIR_PClk, input iIR_VSync, 
            input iIR_HSync, input iIR_UART_Rx, output oIR_UART_Tx, output oIR_Shutdown, 
            output oPSRAM_RST, output oPSRAM_CE, output oPSRAM_DQS, output oPSRAM_CLK, 
            inout [7:0]ioPSRAM_DATA, output [1:0]oMUX_SEL, output oDBG_UART_Tx, 
            input iDBG_UART_Rx, output oLED_Configuring, output oLED_Capturing, 
            output oLED_Uploading);
    
    (* is_clock=1, lineinfo="@11(19[11],19[19])" *) wire iIR_PClk_c;
    (* is_clock=1, lineinfo="@11(62[6],62[15])" *) wire clk_48MHz;
    (* is_clock=1, lineinfo="@11(72[6],72[14])" *) wire clk_main;
    
    wire ioIR_Data1_UP_UART_Tx_c, iIR_Data2_UP_UART_Rx_c, iIR_Data4_c, 
        ioIR_Data5_CFG_UART_Tx_c, iIR_Data6_CFG_UART_Rx_c, iIR_Data7_c, 
        iIR_Data8_c, iIR_Data9_c, iIR_Data10_c, iIR_Data11_c, iIR_Data12_c, 
        iIR_Data13_c, iIR_Data14_c, iIR_VSync_c, iIR_HSync_c, iIR_UART_Rx_c, 
        oIR_Shutdown_c, oPSRAM_RST_c, oPSRAM_CE_c, oPSRAM_DQS_c, oPSRAM_CLK_c, 
        rst_n, GND_net, cfgEn1, cfgDone1, rdEn_FIFO;
    (* lineinfo="@12(165[11],165[17])" *) wire [1:0]ramCmd;
    
    wire dataRdRdy, WrFrameDone, enUART, enTx, doneTx;
    (* lineinfo="@12(231[11],231[17])" *) wire [9:0]step_i;
    
    wire n281, \aempty_flag_impl.ae_flag_nxt_w_N_79 , cfgEn1_N_65;
    (* lineinfo="@2(2850[29],2850[38])" *) wire [4:0]rd_addr_r;
    (* lineinfo="@2(2852[29],2852[42])" *) wire [4:0]rd_addr_nxt_c;
    (* lineinfo="@2(2866[30],2866[44])" *) wire [4:0]rd_sig_diff0_w;
    
    wire rd_fifo_en_w, enUART_N_75, enTx_N_76, ramCmd_1__N_17, \aempty_flag_impl.ae_flag_nxt_w_N_81 , 
        n622, n4, VCC_net, ramCmd_0__N_18;
    
    VLO i1 (.Z(GND_net));
    (* lineinfo="@11(84[17],138[2])" *) ZIRTaskSchedule taskSchedule (Open_0, 
            Open_1, Open_2, Open_3, Open_4, Open_5, Open_6, Open_7, 
            step_i[1], step_i[0], clk_main, ioIR_Data3_UPLD_Done, rst_n, 
            iIR_UART_Rx_c, cfgEn1, cfgDone1, ioIR_Data1_UP_UART_Tx_c, 
            iIR_Data2_UP_UART_Rx_c, iIR_Data4_c, ioIR_Data5_CFG_UART_Tx_c, 
            iIR_Data6_CFG_UART_Rx_c, iIR_Data7_c, iIR_Data8_c, iIR_Data9_c, 
            iIR_Data10_c, iIR_Data11_c, iIR_Data12_c, iIR_Data13_c, 
            iIR_Data14_c, iIR_PClk_c, iIR_HSync_c, iIR_VSync_c, oPSRAM_RST_c, 
            oPSRAM_CE_c, oPSRAM_DQS_c, oPSRAM_CLK_c, rdEn_FIFO, {ramCmd}, 
            dataRdRdy, WrFrameDone, enUART, enTx, doneTx, oIR_Shutdown_c, 
            {ioPSRAM_DATA}, ramCmd_1__N_17, ramCmd_0__N_18, cfgEn1_N_65, 
            enUART_N_75, enTx_N_76, n622, n281, GND_net, n4, rd_addr_r[0], 
            rd_fifo_en_w, rd_sig_diff0_w[0], rd_addr_r[2], rd_addr_nxt_c[2], 
            rd_addr_r[1], \aempty_flag_impl.ae_flag_nxt_w_N_79 , \aempty_flag_impl.ae_flag_nxt_w_N_81 );
    (* lineinfo="@11(30[12],30[22])" *) OB oPSRAM_CLK_pad (.I(oPSRAM_CLK_c), 
            .O(oPSRAM_CLK));
    (* lineinfo="@11(29[12],29[22])" *) OB oPSRAM_DQS_pad (.I(oPSRAM_DQS_c), 
            .O(oPSRAM_DQS));
    (* lineinfo="@11(75[8],80[24])" *) My_PLL my_PLL_inst (GND_net, clk_48MHz, 
            rst_n, clk_main);
    (* lineinfo="@11(28[12],28[21])" *) OB oPSRAM_CE_pad (.I(oPSRAM_CE_c), 
            .O(oPSRAM_CE));
    (* lineinfo="@11(27[12],27[22])" *) OB oPSRAM_RST_pad (.I(oPSRAM_RST_c), 
            .O(oPSRAM_RST));
    (* lineinfo="@11(24[12],24[24])" *) OB oIR_Shutdown_pad (.I(oIR_Shutdown_c), 
            .O(oIR_Shutdown));
    (* lineinfo="@11(23[12],23[23])" *) OB oIR_UART_Tx_pad (.I(VCC_net), .O(oIR_UART_Tx));
    (* lut_function="(!(A (B (C (D)))+!A !(B (C (D)))))", lineinfo="@2(3220[25],3233[32])" *) LUT4 rd_addr_r_2__I_0_2_4_lut (.A(rd_addr_r[2]), 
            .B(rd_addr_r[1]), .C(rd_addr_r[0]), .D(rd_fifo_en_w), .Z(rd_addr_nxt_c[2]));
    defparam rd_addr_r_2__I_0_2_4_lut.INIT = "0x6aaa";
    (* lineinfo="@11(34[18],34[26])" *) OB \oMUX_SEL_pad[1]  (.I(VCC_net), 
            .O(oMUX_SEL[1]));
    (* lineinfo="@11(34[18],34[26])" *) OB \oMUX_SEL_pad[0]  (.I(GND_net), 
            .O(oMUX_SEL[0]));
    (* lineinfo="@11(37[12],37[24])" *) OB oDBG_UART_Tx_pad (.I(GND_net), 
            .O(oDBG_UART_Tx));
    (* lineinfo="@11(41[12],41[28])" *) OB oLED_Configuring_pad (.I(GND_net), 
            .O(oLED_Configuring));
    (* lineinfo="@11(42[12],42[26])" *) OB oLED_Capturing_pad (.I(GND_net), 
            .O(oLED_Capturing));
    (* lineinfo="@11(43[12],43[26])" *) OB oLED_Uploading_pad (.I(GND_net), 
            .O(oLED_Uploading));
    (* lineinfo="@11(4[11],4[32])" *) IB ioIR_Data1_UP_UART_Tx_pad (.I(ioIR_Data1_UP_UART_Tx), 
            .O(ioIR_Data1_UP_UART_Tx_c));
    (* lineinfo="@11(5[11],5[31])" *) IB iIR_Data2_UP_UART_Rx_pad (.I(iIR_Data2_UP_UART_Rx), 
            .O(iIR_Data2_UP_UART_Rx_c));
    (* lineinfo="@11(7[11],7[20])" *) IB iIR_Data4_pad (.I(iIR_Data4), .O(iIR_Data4_c));
    (* lineinfo="@11(8[11],8[33])" *) IB ioIR_Data5_CFG_UART_Tx_pad (.I(ioIR_Data5_CFG_UART_Tx), 
            .O(ioIR_Data5_CFG_UART_Tx_c));
    (* lineinfo="@11(9[11],9[32])" *) IB iIR_Data6_CFG_UART_Rx_pad (.I(iIR_Data6_CFG_UART_Rx), 
            .O(iIR_Data6_CFG_UART_Rx_c));
    (* lineinfo="@11(10[11],10[20])" *) IB iIR_Data7_pad (.I(iIR_Data7), .O(iIR_Data7_c));
    (* lineinfo="@11(11[11],11[20])" *) IB iIR_Data8_pad (.I(iIR_Data8), .O(iIR_Data8_c));
    (* lineinfo="@11(12[11],12[20])" *) IB iIR_Data9_pad (.I(iIR_Data9), .O(iIR_Data9_c));
    (* lineinfo="@11(13[11],13[21])" *) IB iIR_Data10_pad (.I(iIR_Data10), 
            .O(iIR_Data10_c));
    (* lineinfo="@11(14[11],14[21])" *) IB iIR_Data11_pad (.I(iIR_Data11), 
            .O(iIR_Data11_c));
    (* lineinfo="@11(15[11],15[21])" *) IB iIR_Data12_pad (.I(iIR_Data12), 
            .O(iIR_Data12_c));
    (* lineinfo="@11(16[11],16[21])" *) IB iIR_Data13_pad (.I(iIR_Data13), 
            .O(iIR_Data13_c));
    (* lineinfo="@11(17[11],17[21])" *) IB iIR_Data14_pad (.I(iIR_Data14), 
            .O(iIR_Data14_c));
    (* lineinfo="@11(19[11],19[19])" *) IB iIR_PClk_pad (.I(iIR_PClk), .O(iIR_PClk_c));
    (* lineinfo="@11(20[11],20[20])" *) IB iIR_VSync_pad (.I(iIR_VSync), .O(iIR_VSync_c));
    (* lineinfo="@11(21[11],21[20])" *) IB iIR_HSync_pad (.I(iIR_HSync), .O(iIR_HSync_c));
    (* lineinfo="@11(22[11],22[22])" *) IB iIR_UART_Rx_pad (.I(iIR_UART_Rx), 
            .O(iIR_UART_Rx_c));
    (* syn_instantiated=1 *) HSOSC_CORE my_HSOSC (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(clk_48MHz));
    defparam my_HSOSC.CLKHF_DIV = "0b00";
    defparam my_HSOSC.FABRIC_TRIME = "DISABLE";
    (* lut_function="(!(A (B (C))+!A (B+!(C))))", lineinfo="@12(233[1],343[4])" *) LUT4 i712_3_lut (.A(enTx), 
            .B(doneTx), .C(n622), .Z(enTx_N_76));
    defparam i712_3_lut.INIT = "0x3a3a";
    (* lut_function="(!(A (B (C))+!A (B+!(C))))", lineinfo="@12(233[1],343[4])" *) LUT4 i713_3_lut (.A(enUART), 
            .B(doneTx), .C(n622), .Z(enUART_N_75));
    defparam i713_3_lut.INIT = "0x3a3a";
    (* lut_function="(A (B (C+(D)))+!A (B+!(C+(D))))", lineinfo="@12(233[1],343[4])" *) LUT4 i715_4_lut (.A(cfgDone1), 
            .B(cfgEn1), .C(step_i[1]), .D(n4), .Z(cfgEn1_N_65));
    defparam i715_4_lut.INIT = "0xccc5";
    (* lut_function="(A (B (C))+!A (B (C+!(D))+!B !(C+(D))))", lineinfo="@12(233[1],343[4])" *) LUT4 i12_4_lut (.A(step_i[0]), 
            .B(ramCmd[0]), .C(n281), .D(WrFrameDone), .Z(ramCmd_0__N_18));
    defparam i12_4_lut.INIT = "0xc0c5";
    (* lut_function="(A (D)+!A !(B+!(C)))", lineinfo="@12(233[1],343[4])" *) LUT4 i705_4_lut (.A(n281), 
            .B(dataRdRdy), .C(step_i[0]), .D(ramCmd[1]), .Z(ramCmd_1__N_17));
    defparam i705_4_lut.INIT = "0xba10";
    (* lut_function="(!(A+!((C)+!B)))", lineinfo="@2(3292[42],3292[92])" *) LUT4 LessThan_66_i4_3_lut (.A(\aempty_flag_impl.ae_flag_nxt_w_N_81 ), 
            .B(rdEn_FIFO), .C(rd_sig_diff0_w[0]), .Z(\aempty_flag_impl.ae_flag_nxt_w_N_79 ));
    defparam LessThan_66_i4_3_lut.INIT = "0x5151";
    VHI i2550 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module ZIRTaskSchedule
//

module ZIRTaskSchedule (output \step_i[9] , output \step_i[8] , output \step_i[7] , 
            output \step_i[6] , output \step_i[5] , output \step_i[4] , 
            output \step_i[3] , output \step_i[2] , output \step_i[1] , 
            output \step_i[0] , input clk_main, inout ioIR_Data3_UPLD_Done, 
            input B, input iIR_UART_Rx_c, output cfgEn1, output cfgDone1, 
            input ioIR_Data1_UP_UART_Tx_c, input iIR_Data2_UP_UART_Rx_c, 
            input iIR_Data4_c, input ioIR_Data5_CFG_UART_Tx_c, input iIR_Data6_CFG_UART_Rx_c, 
            input iIR_Data7_c, input iIR_Data8_c, input iIR_Data9_c, input iIR_Data10_c, 
            input iIR_Data11_c, input iIR_Data12_c, input iIR_Data13_c, 
            input iIR_Data14_c, input iIR_PClk_c, input iIR_HSync_c, input iIR_VSync_c, 
            output oPSRAM_RST_c, output oPSRAM_CE_c, output oPSRAM_DQS_c, 
            output oPSRAM_CLK_c, output rdEn_FIFO, output [1:0]ramCmd, 
            output dataRdRdy, output WrFrameDone, output enUART, output enTx, 
            output doneTx, output oIR_Shutdown_c, inout [7:0]ioPSRAM_DATA, 
            input ramCmd_1__N_17, input ramCmd_0__N_18, input cfgEn1_N_65, 
            input enUART_N_75, input enTx_N_76, output n622, output n281, 
            input GND_net, output n4, output \rd_addr_r[0] , output rd_fifo_en_w, 
            output \rd_sig_diff0_w[0] , output \rd_addr_r[2] , input \rd_addr_nxt_c[2] , 
            output \rd_addr_r[1] , input \aempty_flag_impl.ae_flag_nxt_w_N_79 , 
            output \aempty_flag_impl.ae_flag_nxt_w_N_81 );
    
    (* is_clock=1, lineinfo="@11(72[6],72[14])" *) wire clk_main;
    (* is_clock=1, lineinfo="@11(19[11],19[19])" *) wire iIR_PClk_c;
    wire [9:0]step_i_9__N_19;
    
    wire step_i_0__N_47, cfgEn1_N_66, VCC_net, OutFlag_ioIR_Data3_UPLD_Done, 
        capFrameDone_N_72, wrEn_FIFO;
    (* lineinfo="@12(98[13],98[24])" *) wire [15:0]wrData_FIFO;
    
    wire fullFlag_FIFO, almostFull_FIFO, capEn, capFrameDone, n583, 
        n585, n587, n589, n591, n593, n595, n597;
    (* lineinfo="@12(99[13],99[24])" *) wire [15:0]rdData_FIFO;
    
    wire emptyFlag_FIFO, almostEmpty_FIFO, ramEn;
    (* lineinfo="@12(167[13],167[22])" *) wire [15:0]ramRdData;
    
    wire RdFrameDone, n83;
    (* lineinfo="@12(231[11],231[17])" *) wire [9:0]step_i;
    
    wire n67, n2533, n68, OutFlag_ioIR_Data3_UPLD_Done_N_63, OutFlag_ioIR_Data3_UPLD_Done_N_64, 
        n1566, n2490, oIR_Shutdown_c_N_60, oIR_Shutdown_c_N_61, n65, 
        ioPSRAM_DATA_out_7, n71, ioPSRAM_DATA_out_0, n4_c, ioPSRAM_DATA_out_1, 
        ioPSRAM_DATA_out_2;
    wire [0:0]ramEn_N_73;
    
    wire ramEn_N_74, ioPSRAM_DATA_out_3, ioPSRAM_DATA_out_4, ioPSRAM_DATA_out_5, 
        ioPSRAM_DATA_out_6, capEn_N_70, capEn_N_71, n46, n2547, n12, 
        n125, n772, n10;
    wire [9:0]n45;
    
    wire n307, n778, n1726, n2561, n2762, n2197, n2579, n2205, 
        n2780, n2203, n2777, n2201, n2774, n2199, n2771, n2768, 
        n2559, n2571, n68_adj_91, n8, GND_net_2;
    
    (* LSE_LINE_FILE_ID=83, LSE_LCOL=17, LSE_RCOL=2, LSE_LLINE=84, LSE_RLINE=138, lineinfo="@12(233[1],343[4])" *) FD1P3XZ step_i_1__I_0 (.D(\step_i[1] ), 
            .SP(OutFlag_ioIR_Data3_UPLD_Done_N_63), .CK(clk_main), .SR(OutFlag_ioIR_Data3_UPLD_Done_N_64), 
            .Q(OutFlag_ioIR_Data3_UPLD_Done));
    defparam step_i_1__I_0.REGSET = "RESET";
    defparam step_i_1__I_0.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@12(65[8],65[28])" *) BB_B ioIR_Data3_UPLD_Done_pad (.T_N(OutFlag_ioIR_Data3_UPLD_Done), 
            .I(VCC_net), .O(capFrameDone_N_72), .B(ioIR_Data3_UPLD_Done));
    (* lut_function="(A (B ((D)+!C)+!B !(C))+!A (B (C (D))))" *) LUT4 i87_4_lut (.A(WrFrameDone), 
            .B(dataRdRdy), .C(\step_i[0] ), .D(\step_i[1] ), .Z(n83));
    defparam i87_4_lut.INIT = "0xca0a";
    (* lut_function="(A+(B+(C)))" *) LUT4 i2372_2_lut_3_lut (.A(\step_i[1] ), 
            .B(step_i[4]), .C(n67), .Z(n2533));
    defparam i2372_2_lut_3_lut.INIT = "0xfefe";
    (* lut_function="(!(A (B (C)+!B !((D)+!C))+!A (B+!(C (D)))))" *) LUT4 i89_4_lut (.A(doneTx), 
            .B(RdFrameDone), .C(\step_i[0] ), .D(step_i[2]), .Z(n68));
    defparam i89_4_lut.INIT = "0x3a0a";
    (* LSE_LINE_FILE_ID=83, LSE_LCOL=17, LSE_RCOL=2, LSE_LLINE=84, LSE_RLINE=138, lineinfo="@12(233[1],343[4])" *) FD1P3XZ oIR_Shutdown_c_I_0 (.D(oIR_Shutdown_c_N_60), 
            .SP(oIR_Shutdown_c_N_61), .CK(clk_main), .SR(cfgEn1_N_66), 
            .Q(oIR_Shutdown_c));
    defparam oIR_Shutdown_c_I_0.REGSET = "RESET";
    defparam oIR_Shutdown_c_I_0.SRMODE = "ASYNC";
    (* lut_function="(!(A+(B+(C+(D)))))" *) LUT4 i2491_3_lut_4_lut (.A(step_i[4]), 
            .B(n1566), .C(step_i[3]), .D(n2490), .Z(step_i_0__N_47));
    defparam i2491_3_lut_4_lut.INIT = "0x0001";
    (* LSE_LINE_FILE_ID=83, LSE_LCOL=17, LSE_RCOL=2, LSE_LLINE=84, LSE_RLINE=138, lineinfo="@12(233[1],343[4])" *) FD1P3XZ ramEn_I_0 (.D(ramEn_N_73[0]), 
            .SP(ramEn_N_74), .CK(clk_main), .SR(GND_net_2), .Q(ramEn));
    defparam ramEn_I_0.REGSET = "RESET";
    defparam ramEn_I_0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B)+!A (B+((D)+!C)))" *) LUT4 i1_4_lut (.A(\step_i[1] ), 
            .B(n83), .C(\step_i[0] ), .D(cfgDone1), .Z(n65));
    defparam i1_4_lut.INIT = "0xddcd";
    BB_B \ioPSRAM_DATA_pad[7]  (.T_N(VCC_net), .I(n583), .O(ioPSRAM_DATA_out_7), 
         .B(ioPSRAM_DATA[7]));
    (* lut_function="(!(A (B+!(D))+!A !(B (C)+!B (C+(D)))))" *) LUT4 i1_4_lut_adj_56 (.A(step_i[2]), 
            .B(\step_i[1] ), .C(n65), .D(n68), .Z(n71));
    defparam i1_4_lut_adj_56.INIT = "0x7350";
    BB_B \ioPSRAM_DATA_pad[0]  (.T_N(VCC_net), .I(n597), .O(ioPSRAM_DATA_out_0), 
         .B(ioPSRAM_DATA[0]));
    (* lut_function="(A+(B))", lineinfo="@12(261[17],261[25])" *) LUT4 i1_2_lut (.A(step_i[9]), 
            .B(step_i[8]), .Z(n4_c));
    defparam i1_2_lut.INIT = "0xeeee";
    BB_B \ioPSRAM_DATA_pad[1]  (.T_N(VCC_net), .I(n595), .O(ioPSRAM_DATA_out_1), 
         .B(ioPSRAM_DATA[1]));
    BB_B \ioPSRAM_DATA_pad[2]  (.T_N(VCC_net), .I(n593), .O(ioPSRAM_DATA_out_2), 
         .B(ioPSRAM_DATA[2]));
    (* syn_use_carry_chain=1, lineinfo="@12(261[17],261[25])" *) FD1P3XZ step_i_9__I_0 (.D(step_i_9__N_19[9]), 
            .SP(step_i_0__N_47), .CK(clk_main), .SR(cfgEn1_N_66), .Q(step_i[9]));
    defparam step_i_9__I_0.REGSET = "RESET";
    defparam step_i_9__I_0.SRMODE = "ASYNC";
    BB_B \ioPSRAM_DATA_pad[3]  (.T_N(VCC_net), .I(n591), .O(ioPSRAM_DATA_out_3), 
         .B(ioPSRAM_DATA[3]));
    BB_B \ioPSRAM_DATA_pad[4]  (.T_N(VCC_net), .I(n589), .O(ioPSRAM_DATA_out_4), 
         .B(ioPSRAM_DATA[4]));
    (* lut_function="(A+(B+(C)))" *) LUT4 i2_3_lut (.A(step_i[7]), .B(step_i[5]), 
            .C(step_i[6]), .Z(n67));
    defparam i2_3_lut.INIT = "0xfefe";
    (* syn_use_carry_chain=1, lineinfo="@12(261[17],261[25])" *) FD1P3XZ step_i_9__I_33 (.D(step_i_9__N_19[8]), 
            .SP(step_i_0__N_47), .CK(clk_main), .SR(cfgEn1_N_66), .Q(step_i[8]));
    defparam step_i_9__I_33.REGSET = "RESET";
    defparam step_i_9__I_33.SRMODE = "ASYNC";
    BB_B \ioPSRAM_DATA_pad[5]  (.T_N(VCC_net), .I(n587), .O(ioPSRAM_DATA_out_5), 
         .B(ioPSRAM_DATA[5]));
    BB_B \ioPSRAM_DATA_pad[6]  (.T_N(VCC_net), .I(n585), .O(ioPSRAM_DATA_out_6), 
         .B(ioPSRAM_DATA[6]));
    (* syn_use_carry_chain=1, lineinfo="@12(261[17],261[25])" *) FD1P3XZ step_i_9__I_34 (.D(step_i_9__N_19[7]), 
            .SP(step_i_0__N_47), .CK(clk_main), .SR(cfgEn1_N_66), .Q(step_i[7]));
    defparam step_i_9__I_34.REGSET = "RESET";
    defparam step_i_9__I_34.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=83, LSE_LCOL=17, LSE_RCOL=2, LSE_LLINE=84, LSE_RLINE=138, lineinfo="@12(233[1],343[4])" *) FD1P3XZ capEn_I_0 (.D(capEn_N_70), 
            .SP(capEn_N_71), .CK(clk_main), .SR(GND_net_2), .Q(capEn));
    defparam capEn_I_0.REGSET = "RESET";
    defparam capEn_I_0.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@12(261[17],261[25])" *) FD1P3XZ step_i_9__I_35 (.D(step_i_9__N_19[6]), 
            .SP(step_i_0__N_47), .CK(clk_main), .SR(cfgEn1_N_66), .Q(step_i[6]));
    defparam step_i_9__I_35.REGSET = "RESET";
    defparam step_i_9__I_35.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@12(261[17],261[25])" *) FD1P3XZ step_i_9__I_36 (.D(step_i_9__N_19[5]), 
            .SP(step_i_0__N_47), .CK(clk_main), .SR(cfgEn1_N_66), .Q(step_i[5]));
    defparam step_i_9__I_36.REGSET = "RESET";
    defparam step_i_9__I_36.SRMODE = "ASYNC";
    (* lut_function="(!(A (B+((D)+!C))+!A (B (C+!(D))+!B (C (D)+!C !(D)))))" *) LUT4 i65_4_lut (.A(cfgDone1), 
            .B(doneTx), .C(step_i[2]), .D(\step_i[0] ), .Z(n46));
    defparam i65_4_lut.INIT = "0x0530";
    (* syn_use_carry_chain=1, lineinfo="@12(261[17],261[25])" *) FD1P3XZ step_i_9__I_37 (.D(step_i_9__N_19[4]), 
            .SP(step_i_0__N_47), .CK(clk_main), .SR(cfgEn1_N_66), .Q(step_i[4]));
    defparam step_i_9__I_37.REGSET = "RESET";
    defparam step_i_9__I_37.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@12(261[17],261[25])" *) FD1P3XZ step_i_9__I_38 (.D(step_i_9__N_19[3]), 
            .SP(step_i_0__N_47), .CK(clk_main), .SR(cfgEn1_N_66), .Q(step_i[3]));
    defparam step_i_9__I_38.REGSET = "RESET";
    defparam step_i_9__I_38.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@12(261[17],261[25])" *) FD1P3XZ step_i_9__I_39 (.D(step_i_9__N_19[2]), 
            .SP(step_i_0__N_47), .CK(clk_main), .SR(cfgEn1_N_66), .Q(step_i[2]));
    defparam step_i_9__I_39.REGSET = "RESET";
    defparam step_i_9__I_39.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@12(261[17],261[25])" *) FD1P3XZ step_i_9__I_40 (.D(step_i_9__N_19[1]), 
            .SP(step_i_0__N_47), .CK(clk_main), .SR(cfgEn1_N_66), .Q(\step_i[1] ));
    defparam step_i_9__I_40.REGSET = "RESET";
    defparam step_i_9__I_40.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=83, LSE_LCOL=17, LSE_RCOL=2, LSE_LLINE=84, LSE_RLINE=138, lineinfo="@12(233[1],343[4])" *) FD1P3XZ ramCmd_1__I_0 (.D(ramCmd_1__N_17), 
            .SP(VCC_net), .CK(clk_main), .SR(GND_net_2), .Q(ramCmd[1]));
    defparam ramCmd_1__I_0.REGSET = "RESET";
    defparam ramCmd_1__I_0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=83, LSE_LCOL=17, LSE_RCOL=2, LSE_LLINE=84, LSE_RLINE=138, lineinfo="@12(233[1],343[4])" *) FD1P3XZ ramCmd_0__I_0 (.D(ramCmd_0__N_18), 
            .SP(VCC_net), .CK(clk_main), .SR(GND_net_2), .Q(ramCmd[0]));
    defparam ramCmd_0__I_0.REGSET = "RESET";
    defparam ramCmd_0__I_0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=83, LSE_LCOL=17, LSE_RCOL=2, LSE_LLINE=84, LSE_RLINE=138, lineinfo="@12(233[1],343[4])" *) FD1P3XZ cfgEn1_I_0 (.D(cfgEn1_N_65), 
            .SP(VCC_net), .CK(clk_main), .SR(cfgEn1_N_66), .Q(cfgEn1));
    defparam cfgEn1_I_0.REGSET = "RESET";
    defparam cfgEn1_I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=83, LSE_LCOL=17, LSE_RCOL=2, LSE_LLINE=84, LSE_RLINE=138, lineinfo="@12(233[1],343[4])" *) FD1P3XZ enUART_I_0 (.D(enUART_N_75), 
            .SP(VCC_net), .CK(clk_main), .SR(GND_net_2), .Q(enUART));
    defparam enUART_I_0.REGSET = "RESET";
    defparam enUART_I_0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=83, LSE_LCOL=17, LSE_RCOL=2, LSE_LLINE=84, LSE_RLINE=138, lineinfo="@12(233[1],343[4])" *) FD1P3XZ enTx_I_0 (.D(enTx_N_76), 
            .SP(VCC_net), .CK(clk_main), .SR(GND_net_2), .Q(enTx));
    defparam enTx_I_0.REGSET = "RESET";
    defparam enTx_I_0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C)))" *) LUT4 i2386_3_lut (.A(\step_i[0] ), .B(n1566), 
            .C(\step_i[1] ), .Z(n2547));
    defparam i2386_3_lut.INIT = "0xfefe";
    (* lut_function="(!(A+((C+!(D))+!B)))" *) LUT4 i2_4_lut (.A(n12), .B(B), 
            .C(n2547), .D(step_i[2]), .Z(n622));
    defparam i2_4_lut.INIT = "0x0400";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i64_3_lut (.A(WrFrameDone), 
            .B(dataRdRdy), .C(\step_i[0] ), .Z(n125));
    defparam i64_3_lut.INIT = "0xcaca";
    (* lut_function="((B+(C+(D)))+!A)" *) LUT4 i4_4_lut (.A(\step_i[1] ), 
            .B(step_i[2]), .C(n125), .D(n772), .Z(n10));
    defparam i4_4_lut.INIT = "0xfffd";
    (* lut_function="(A+!(B))", lineinfo="@12(261[17],261[25])" *) LUT4 i1570_2_lut (.A(n45[1]), 
            .B(n307), .Z(step_i_9__N_19[1]));
    defparam i1570_2_lut.INIT = "0xbbbb";
    (* lut_function="(A (B))", lineinfo="@12(261[17],261[25])" *) LUT4 i1569_2_lut (.A(n45[2]), 
            .B(n307), .Z(step_i_9__N_19[2]));
    defparam i1569_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))", lineinfo="@12(261[17],261[25])" *) LUT4 i1562_2_lut (.A(n45[3]), 
            .B(n307), .Z(step_i_9__N_19[3]));
    defparam i1562_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))", lineinfo="@12(261[17],261[25])" *) LUT4 i1559_2_lut (.A(n45[4]), 
            .B(n307), .Z(step_i_9__N_19[4]));
    defparam i1559_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))", lineinfo="@12(261[17],261[25])" *) LUT4 i1551_2_lut (.A(n45[5]), 
            .B(n307), .Z(step_i_9__N_19[5]));
    defparam i1551_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))", lineinfo="@12(261[17],261[25])" *) LUT4 i1548_2_lut (.A(n45[6]), 
            .B(n307), .Z(step_i_9__N_19[6]));
    defparam i1548_2_lut.INIT = "0x8888";
    (* lut_function="(A+(B))", lineinfo="@12(261[17],261[25])" *) LUT4 i1_2_lut_adj_57 (.A(step_i[3]), 
            .B(step_i[4]), .Z(n12));
    defparam i1_2_lut_adj_57.INIT = "0xeeee";
    (* lut_function="(!(A))", lineinfo="@12(287[12],287[25])" *) LUT4 i25_1_lut (.A(capFrameDone), 
            .Z(capEn_N_70));
    defparam i25_1_lut.INIT = "0x5555";
    (* lut_function="(A (B))", lineinfo="@12(261[17],261[25])" *) LUT4 i1536_2_lut (.A(n45[7]), 
            .B(n307), .Z(step_i_9__N_19[7]));
    defparam i1536_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))", lineinfo="@12(261[17],261[25])" *) LUT4 i1530_2_lut (.A(n45[8]), 
            .B(n307), .Z(step_i_9__N_19[8]));
    defparam i1530_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))", lineinfo="@12(261[17],261[25])" *) LUT4 i1573_2_lut (.A(n45[9]), 
            .B(n307), .Z(step_i_9__N_19[9]));
    defparam i1573_2_lut.INIT = "0x8888";
    (* lut_function="(!(A+(((D)+!C)+!B)))", lineinfo="@12(233[1],343[4])" *) LUT4 i2485_4_lut_4_lut (.A(\step_i[0] ), 
            .B(B), .C(\step_i[1] ), .D(n778), .Z(capEn_N_71));
    defparam i2485_4_lut_4_lut.INIT = "0x0040";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@12(263[5],263[6])" *) LUT4 i2_3_lut_4_lut (.A(step_i[3]), 
            .B(step_i[4]), .C(n1566), .D(step_i[2]), .Z(n778));
    defparam i2_3_lut_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B))" *) LUT4 i1599_2_lut (.A(WrFrameDone), .B(step_i[2]), 
            .Z(n1726));
    defparam i1599_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B+(C))+!A !(B (C (D))+!B ((D)+!C)))" *) LUT4 i1_4_lut_adj_58 (.A(step_i[2]), 
            .B(n46), .C(\step_i[1] ), .D(n125), .Z(n2490));
    defparam i1_4_lut_adj_58.INIT = "0xacfc";
    (* lut_function="(!(A (B+!(C (D)))+!A (B (C)+!B !((D)+!C))))", lineinfo="@12(242[5],342[12])" *) LUT4 mux_138_i1_4_lut (.A(n1726), 
            .B(dataRdRdy), .C(\step_i[0] ), .D(\step_i[1] ), .Z(ramEn_N_73[0]));
    defparam mux_138_i1_4_lut.INIT = "0x3505";
    (* lut_function="(A+(B+(C)))" *) LUT4 i2400_3_lut (.A(step_i[8]), .B(step_i[4]), 
            .C(step_i[9]), .Z(n2561));
    defparam i2400_3_lut.INIT = "0xfefe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i5_3_lut_4_lut (.A(step_i[4]), 
            .B(n67), .C(n10), .D(n4_c), .Z(n281));
    defparam i5_3_lut_4_lut.INIT = "0xfffe";
    (* lineinfo="@12(261[17],261[25])" *) FA2 step_i_208_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(\step_i[0] ), .D1(n2762), .CI1(n2762), .CO0(n2762), 
            .CO1(n2197), .S1(n45[0]));
    defparam step_i_208_add_4_1.INIT0 = "0xc33c";
    defparam step_i_208_add_4_1.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i2418_4_lut (.A(\step_i[0] ), 
            .B(n67), .C(n772), .D(n2561), .Z(n2579));
    defparam i2418_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A+(B+(C))))" *) LUT4 i2488_3_lut (.A(n2579), .B(step_i[2]), 
            .C(\step_i[1] ), .Z(OutFlag_ioIR_Data3_UPLD_Done_N_64));
    defparam i2488_3_lut.INIT = "0x0101";
    (* lut_function="(!(A (B+!(C))+!A (B+(C))))" *) LUT4 i1_3_lut (.A(\step_i[1] ), 
            .B(n2579), .C(step_i[2]), .Z(OutFlag_ioIR_Data3_UPLD_Done_N_63));
    defparam i1_3_lut.INIT = "0x2121";
    (* lut_function="(A+!(B))", lineinfo="@12(261[17],261[25])" *) LUT4 i1561_2_lut (.A(n45[0]), 
            .B(n307), .Z(step_i_9__N_19[0]));
    defparam i1561_2_lut.INIT = "0xbbbb";
    (* lineinfo="@12(261[17],261[25])" *) FA2 step_i_208_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(step_i[9]), .D0(n2205), .CI0(n2205), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n2780), .CI1(n2780), .CO0(n2780), 
            .S0(n45[9]));
    defparam step_i_208_add_4_11.INIT0 = "0xc33c";
    defparam step_i_208_add_4_11.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+!(D))))", lineinfo="@12(263[5],263[6])" *) LUT4 i1_2_lut_4_lut (.A(n12), 
            .B(n1566), .C(step_i[2]), .D(\step_i[0] ), .Z(n4));
    defparam i1_2_lut_4_lut.INIT = "0xfeff";
    (* lineinfo="@12(261[17],261[25])" *) FA2 step_i_208_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(step_i[7]), .D0(n2203), .CI0(n2203), .A1(GND_net), 
            .B1(GND_net), .C1(step_i[8]), .D1(n2777), .CI1(n2777), .CO0(n2777), 
            .CO1(n2205), .S0(n45[7]), .S1(n45[8]));
    defparam step_i_208_add_4_9.INIT0 = "0xc33c";
    defparam step_i_208_add_4_9.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C)))", lineinfo="@12(261[17],261[25])" *) LUT4 i2_2_lut_3_lut (.A(n67), 
            .B(step_i[9]), .C(step_i[8]), .Z(n1566));
    defparam i2_2_lut_3_lut.INIT = "0xfefe";
    (* lineinfo="@12(261[17],261[25])" *) FA2 step_i_208_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(step_i[5]), .D0(n2201), .CI0(n2201), .A1(GND_net), 
            .B1(GND_net), .C1(step_i[6]), .D1(n2774), .CI1(n2774), .CO0(n2774), 
            .CO1(n2203), .S0(n45[5]), .S1(n45[6]));
    defparam step_i_208_add_4_7.INIT0 = "0xc33c";
    defparam step_i_208_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@12(261[17],261[25])" *) FA2 step_i_208_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(step_i[3]), .D0(n2199), .CI0(n2199), .A1(GND_net), 
            .B1(GND_net), .C1(step_i[4]), .D1(n2771), .CI1(n2771), .CO0(n2771), 
            .CO1(n2201), .S0(n45[3]), .S1(n45[4]));
    defparam step_i_208_add_4_5.INIT0 = "0xc33c";
    defparam step_i_208_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@12(261[17],261[25])" *) FA2 step_i_208_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(\step_i[1] ), .D0(n2197), .CI0(n2197), 
            .A1(GND_net), .B1(GND_net), .C1(step_i[2]), .D1(n2768), 
            .CI1(n2768), .CO0(n2768), .CO1(n2199), .S0(n45[1]), .S1(n45[2]));
    defparam step_i_208_add_4_3.INIT0 = "0xc33c";
    defparam step_i_208_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C)))" *) LUT4 i2398_3_lut (.A(step_i[5]), .B(step_i[7]), 
            .C(step_i[6]), .Z(n2559));
    defparam i2398_3_lut.INIT = "0xfefe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i2410_4_lut (.A(step_i[2]), 
            .B(n2559), .C(step_i[3]), .D(n2561), .Z(n2571));
    defparam i2410_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_59 (.A(step_i[4]), .B(n67), 
            .Z(n68_adj_91));
    defparam i1_2_lut_adj_59.INIT = "0xeeee";
    (* lut_function="(!(A+(B+!(C+!(D)))))" *) LUT4 i1_4_lut_adj_60 (.A(n2571), 
            .B(\step_i[0] ), .C(WrFrameDone), .D(n2533), .Z(oIR_Shutdown_c_N_61));
    defparam i1_4_lut_adj_60.INIT = "0x1011";
    (* lut_function="(!(A+(B+(C+(D)))))", lineinfo="@12(242[5],342[12])" *) LUT4 i3_4_lut (.A(\step_i[1] ), 
            .B(step_i[2]), .C(n68_adj_91), .D(step_i[3]), .Z(n8));
    defparam i3_4_lut.INIT = "0x0001";
    (* lut_function="(!(A+(B+((D)+!C))))" *) LUT4 i1_3_lut_4_lut (.A(step_i[4]), 
            .B(n1566), .C(n71), .D(step_i[3]), .Z(n307));
    defparam i1_3_lut_4_lut.INIT = "0x0010";
    (* lut_function="(!(A ((C)+!B)+!A ((C+(D))+!B)))", lineinfo="@12(242[5],342[12])" *) LUT4 i4_4_lut_adj_61 (.A(step_i[2]), 
            .B(n8), .C(n4_c), .D(\step_i[0] ), .Z(oIR_Shutdown_c_N_60));
    defparam i4_4_lut_adj_61.INIT = "0x080c";
    (* lineinfo="@12(104[9],117[6])" *) My_FIFO buffering_FIFO (clk_main, 
            B, wrEn_FIFO, fullFlag_FIFO, iIR_PClk_c, almostFull_FIFO, 
            \rd_addr_r[0] , almostEmpty_FIFO, rd_fifo_en_w, rdEn_FIFO, 
            emptyFlag_FIFO, \rd_sig_diff0_w[0] , \rd_addr_r[2] , \rd_addr_nxt_c[2] , 
            \rd_addr_r[1] , cfgEn1_N_66, step_i[3], n772, n67, \step_i[0] , 
            \aempty_flag_impl.ae_flag_nxt_w_N_79 , \aempty_flag_impl.ae_flag_nxt_w_N_81 , 
            n2571, \step_i[1] , ramEn_N_74, {rdData_FIFO}, GND_net, 
            {wrData_FIFO});
    VLO i2 (.Z(GND_net_2));
    (* syn_use_carry_chain=1, lineinfo="@12(261[17],261[25])" *) FD1P3XZ step_i_9__I_41 (.D(step_i_9__N_19[0]), 
            .SP(step_i_0__N_47), .CK(clk_main), .SR(cfgEn1_N_66), .Q(\step_i[0] ));
    defparam step_i_9__I_41.REGSET = "RESET";
    defparam step_i_9__I_41.SRMODE = "ASYNC";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module My_FIFO
//

module My_FIFO (input clk_main, input A, input wrEn_FIFO, output fullFlag_FIFO, 
            input iIR_PClk_c, output almostFull_FIFO, output \rd_addr_r[0] , 
            output almostEmpty_FIFO, output rd_fifo_en_w, input rdEn_FIFO, 
            output emptyFlag_FIFO, output \rd_sig_diff0_w[0] , output \rd_addr_r[2] , 
            input \rd_addr_nxt_c[2] , output \rd_addr_r[1] , output cfgEn1_N_66, 
            input \step_i[3] , output n772, input n67, input \step_i[0] , 
            input \aempty_flag_impl.ae_flag_nxt_w_N_79 , output \aempty_flag_impl.ae_flag_nxt_w_N_81 , 
            input n2571, input \step_i[1] , output ramEn_N_74, output [15:0]rdData_FIFO, 
            input GND_net, input [15:0]wrData_FIFO);
    
    (* is_clock=1, lineinfo="@11(72[6],72[14])" *) wire clk_main;
    (* is_clock=1, lineinfo="@11(19[11],19[19])" *) wire iIR_PClk_c;
    
    (* lineinfo="@2(56[33],75[34])" *) \My_FIFO_ipgen_lscc_fifo_dc(WADDR_DEPTH=16,WADDR_WIDTH=4,WDATA_WIDTH=16,RADDR_DEPTH=16,RADDR_WIDTH=4,RDATA_WIDTH=16,ALMOST_FULL_ASSERT_LVL=15,ALMOST_FULL_DEASSERT_LVL=14,FAMILY="iCE40UP") lscc_fifo_dc_inst (clk_main, 
            A, wrEn_FIFO, fullFlag_FIFO, iIR_PClk_c, almostFull_FIFO, 
            \rd_addr_r[0] , almostEmpty_FIFO, rd_fifo_en_w, rdEn_FIFO, 
            emptyFlag_FIFO, \rd_sig_diff0_w[0] , \rd_addr_r[2] , \rd_addr_nxt_c[2] , 
            \rd_addr_r[1] , cfgEn1_N_66, \step_i[3] , n772, n67, \step_i[0] , 
            \aempty_flag_impl.ae_flag_nxt_w_N_79 , \aempty_flag_impl.ae_flag_nxt_w_N_81 , 
            n2571, \step_i[1] , ramEn_N_74, {rdData_FIFO}, GND_net, 
            {wrData_FIFO});
    
endmodule

//
// Verilog Description of module \My_FIFO_ipgen_lscc_fifo_dc(WADDR_DEPTH=16,WADDR_WIDTH=4,WDATA_WIDTH=16,RADDR_DEPTH=16,RADDR_WIDTH=4,RDATA_WIDTH=16,ALMOST_FULL_ASSERT_LVL=15,ALMOST_FULL_DEASSERT_LVL=14,FAMILY="iCE40UP") 
//

module \My_FIFO_ipgen_lscc_fifo_dc(WADDR_DEPTH=16,WADDR_WIDTH=4,WDATA_WIDTH=16,RADDR_DEPTH=16,RADDR_WIDTH=4,RDATA_WIDTH=16,ALMOST_FULL_ASSERT_LVL=15,ALMOST_FULL_DEASSERT_LVL=14,FAMILY="iCE40UP") (input clk_main, 
            input A, input wrEn_FIFO, output fullFlag_FIFO, input iIR_PClk_c, 
            output almostFull_FIFO, output \rd_addr_r[0] , output almostEmpty_FIFO, 
            output rd_fifo_en_w, input rdEn_FIFO, output emptyFlag_FIFO, 
            output \rd_sig_diff0_w[0] , output \rd_addr_r[2] , input \rd_addr_nxt_c[2] , 
            output \rd_addr_r[1] , output cfgEn1_N_66, input \step_i[3] , 
            output n772, input n67, input \step_i[0] , input \aempty_flag_impl.ae_flag_nxt_w_N_79 , 
            output \aempty_flag_impl.ae_flag_nxt_w_N_81 , input n2571, input \step_i[1] , 
            output ramEn_N_74, output [15:0]rdData_FIFO, input GND_net, 
            input [15:0]wrData_FIFO);
    
    (* is_clock=1, lineinfo="@11(72[6],72[14])" *) wire clk_main;
    (* is_clock=1, lineinfo="@11(19[11],19[19])" *) wire iIR_PClk_c;
    
    (* lineinfo="@2(211[60],236[47])" *) \My_FIFO_ipgen_lscc_fifo_dc_main(WADDR_DEPTH=16,WADDR_WIDTH=4,WDATA_WIDTH=16,RADDR_DEPTH=16,RADDR_WIDTH=4,RDATA_WIDTH=16,ALMOST_FULL_ASSERT_LVL=15,ALMOST_FULL_DEASSERT_LVL=14,FAMILY="iCE40UP") fifo_dc0 (clk_main, 
            A, wrEn_FIFO, fullFlag_FIFO, iIR_PClk_c, almostFull_FIFO, 
            \rd_addr_r[0] , almostEmpty_FIFO, rd_fifo_en_w, rdEn_FIFO, 
            emptyFlag_FIFO, \rd_sig_diff0_w[0] , \rd_addr_r[2] , \rd_addr_nxt_c[2] , 
            \rd_addr_r[1] , cfgEn1_N_66, \step_i[3] , n772, n67, \step_i[0] , 
            \aempty_flag_impl.ae_flag_nxt_w_N_79 , \aempty_flag_impl.ae_flag_nxt_w_N_81 , 
            n2571, \step_i[1] , ramEn_N_74, {rdData_FIFO}, GND_net, 
            {wrData_FIFO});
    
endmodule

//
// Verilog Description of module \My_FIFO_ipgen_lscc_fifo_dc_main(WADDR_DEPTH=16,WADDR_WIDTH=4,WDATA_WIDTH=16,RADDR_DEPTH=16,RADDR_WIDTH=4,RDATA_WIDTH=16,ALMOST_FULL_ASSERT_LVL=15,ALMOST_FULL_DEASSERT_LVL=14,FAMILY="iCE40UP") 
//

module \My_FIFO_ipgen_lscc_fifo_dc_main(WADDR_DEPTH=16,WADDR_WIDTH=4,WDATA_WIDTH=16,RADDR_DEPTH=16,RADDR_WIDTH=4,RDATA_WIDTH=16,ALMOST_FULL_ASSERT_LVL=15,ALMOST_FULL_DEASSERT_LVL=14,FAMILY="iCE40UP") (input clk_main, 
            input A, input wrEn_FIFO, output fullFlag_FIFO, input iIR_PClk_c, 
            output almostFull_FIFO, output \rd_addr_r[0] , output almostEmpty_FIFO, 
            output rd_fifo_en_w, input rdEn_FIFO, output emptyFlag_FIFO, 
            output \rd_sig_diff0_w[0] , output \rd_addr_r[2] , input \rd_addr_nxt_c[2] , 
            output \rd_addr_r[1] , output cfgEn1_N_66, input \step_i[3] , 
            output n772, input n67, input \step_i[0] , input \aempty_flag_impl.ae_flag_nxt_w_N_79 , 
            output \aempty_flag_impl.ae_flag_nxt_w_N_81 , input n2571, input \step_i[1] , 
            output ramEn_N_74, output [15:0]rdData_FIFO, input GND_net, 
            input [15:0]wrData_FIFO);
    
    (* is_clock=1, lineinfo="@11(72[6],72[14])" *) wire clk_main;
    (* is_clock=1, lineinfo="@11(19[11],19[19])" *) wire iIR_PClk_c;
    
    (* lineinfo="@2(380[38],405[55])" *) \My_FIFO_ipgen_lscc_soft_fifo_dc(WADDR_DEPTH=16,WADDR_WIDTH=4,WDATA_WIDTH=16,RADDR_DEPTH=16,RADDR_WIDTH=4,RDATA_WIDTH=16,ALMOST_FULL_ASSERT_LVL=15,ALMOST_FULL_DEASSERT_LVL=14,FAMILY="iCE40UP") \_FABRIC.u_fifo  (clk_main, 
            A, wrEn_FIFO, fullFlag_FIFO, iIR_PClk_c, almostFull_FIFO, 
            \rd_addr_r[0] , almostEmpty_FIFO, rd_fifo_en_w, rdEn_FIFO, 
            emptyFlag_FIFO, \rd_sig_diff0_w[0] , \rd_addr_r[2] , \rd_addr_nxt_c[2] , 
            \rd_addr_r[1] , cfgEn1_N_66, \step_i[3] , n772, n67, \step_i[0] , 
            \aempty_flag_impl.ae_flag_nxt_w_N_79 , \aempty_flag_impl.ae_flag_nxt_w_N_81 , 
            n2571, \step_i[1] , ramEn_N_74, {rdData_FIFO}, GND_net, 
            {wrData_FIFO});
    
endmodule

//
// Verilog Description of module \My_FIFO_ipgen_lscc_soft_fifo_dc(WADDR_DEPTH=16,WADDR_WIDTH=4,WDATA_WIDTH=16,RADDR_DEPTH=16,RADDR_WIDTH=4,RDATA_WIDTH=16,ALMOST_FULL_ASSERT_LVL=15,ALMOST_FULL_DEASSERT_LVL=14,FAMILY="iCE40UP") 
//

module \My_FIFO_ipgen_lscc_soft_fifo_dc(WADDR_DEPTH=16,WADDR_WIDTH=4,WDATA_WIDTH=16,RADDR_DEPTH=16,RADDR_WIDTH=4,RDATA_WIDTH=16,ALMOST_FULL_ASSERT_LVL=15,ALMOST_FULL_DEASSERT_LVL=14,FAMILY="iCE40UP") (input clk_main, 
            input A, input wrEn_FIFO, output fullFlag_FIFO, input iIR_PClk_c, 
            output almostFull_FIFO, output \rd_addr_r[0] , output almostEmpty_FIFO, 
            output rd_fifo_en_w, input rdEn_FIFO, output emptyFlag_FIFO, 
            output \rd_sig_diff0_w[0] , output \rd_addr_r[2] , input \rd_addr_nxt_c[2] , 
            output \rd_addr_r[1] , output cfgEn1_N_66, input \step_i[3] , 
            output n772, input n67, input \step_i[0] , input \aempty_flag_impl.ae_flag_nxt_w_N_79 , 
            output \aempty_flag_impl.ae_flag_nxt_w_N_81 , input n2571, input \step_i[1] , 
            output ramEn_N_74, output [15:0]rdData_FIFO, input GND_net, 
            input [15:0]wrData_FIFO);
    
    (* is_clock=1, lineinfo="@11(72[6],72[14])" *) wire clk_main;
    (* is_clock=1, lineinfo="@11(19[11],19[19])" *) wire iIR_PClk_c;
    (* lineinfo="@2(2829[29],2829[38])" *) wire [4:0]wr_addr_r;
    (* lineinfo="@2(2842[34],2842[49])" *) wire [3:0]rd_cmp_mem_wr_w;
    
    wire n2;
    (* lineinfo="@2(2835[37],2835[47])" *) wire [4:0]rp_sync2_r;
    (* lineinfo="@2(2834[37],2834[47])" *) wire [4:0]rp_sync1_r;
    (* lineinfo="@2(2850[29],2850[38])" *) wire [4:0]rd_addr_r;
    (* lineinfo="@2(2858[37],2858[51])" *) wire [4:0]rd_grey_sync_r;
    (* lineinfo="@2(2831[29],2831[42])" *) wire [4:0]wr_addr_nxt_c;
    
    wire rd_addr_p1_w_3__N_58;
    (* lineinfo="@2(2854[30],2854[42])" *) wire [4:0]rd_addr_p1_w;
    (* lineinfo="@2(2857[38],2857[47])" *) wire [4:0]rd_grey_w;
    
    wire \afull_flag_impl.af_flag_nxt_w ;
    (* lineinfo="@2(2852[29],2852[42])" *) wire [4:0]rd_addr_nxt_c;
    (* lineinfo="@2(2837[37],2837[51])" *) wire [4:0]wr_grey_sync_r;
    (* lineinfo="@2(2855[37],2855[47])" *) wire [4:0]wp_sync1_r;
    (* lineinfo="@2(2856[37],2856[47])" *) wire [4:0]wp_sync2_r;
    (* lineinfo="@2(2836[38],2836[47])" *) wire [4:0]wr_grey_w;
    
    wire \aempty_flag_impl.ae_flag_nxt_w , rd_prev_r, t_rd_fifo_en_w;
    (* lineinfo="@2(2865[30],2865[41])" *) wire [4:0]rd_sig_wr_w;
    
    wire n4, n6, n2274, n2281, n2563;
    (* lineinfo="@2(2845[30],2845[44])" *) wire [4:0]wr_sig_diff0_w;
    
    wire \afull_flag_impl.af_flag_nxt_w_N_77 , n4_adj_82, n6_adj_83, \afull_flag_impl.af_flag_nxt_w_N_78 , 
        n2_adj_84, wr_fifo_en_w, n2_adj_85, fullFlag_FIFO_N_68, emptyFlag_FIFO_N_69;
    (* lineinfo="@2(2833[30],2833[42])" *) wire [4:0]wr_addr_p1_w;
    
    wire n2_adj_86, n3, n2278, n4_adj_87, n8, \aempty_flag_impl.ae_flag_nxt_w_N_80 , 
        wr_addr_p1_w_3__N_55, n11, n2535, n2577, n8_adj_88, n2553, 
        n2257, n2551, n2612, n2555, n2573, n2608, VCC_net;
    
    (* lut_function="(A+!(B))", lineinfo="@2(2845[47],2845[78])" *) LUT4 i319_2_lut (.A(wr_addr_r[0]), 
            .B(rd_cmp_mem_wr_w[0]), .Z(n2));
    defparam i319_2_lut.INIT = "0xbbbb";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@2(2921[38],2921[77])" *) LUT4 rp_sync2_r_1__I_0 (.A(rp_sync2_r[1]), 
            .B(rd_cmp_mem_wr_w[2]), .Z(rd_cmp_mem_wr_w[1]));
    defparam rp_sync2_r_1__I_0.INIT = "0x6666";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3007[25],3016[32])" *) FD1P3XZ rd_addr_r_4__I_0_2 (.D(rd_addr_r[4]), 
            .SP(VCC_net), .CK(clk_main), .SR(A), .Q(rp_sync1_r[4]));
    defparam rd_addr_r_4__I_0_2.REGSET = "RESET";
    defparam rd_addr_r_4__I_0_2.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3007[25],3016[32])" *) FD1P3XZ rd_grey_sync_r_3__I_0 (.D(rd_grey_sync_r[3]), 
            .SP(VCC_net), .CK(clk_main), .SR(A), .Q(rp_sync1_r[3]));
    defparam rd_grey_sync_r_3__I_0.REGSET = "RESET";
    defparam rd_grey_sync_r_3__I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3007[25],3016[32])" *) FD1P3XZ rd_grey_sync_r_2__I_0 (.D(rd_grey_sync_r[2]), 
            .SP(VCC_net), .CK(clk_main), .SR(A), .Q(rp_sync1_r[2]));
    defparam rd_grey_sync_r_2__I_0.REGSET = "RESET";
    defparam rd_grey_sync_r_2__I_0.SRMODE = "ASYNC";
    (* lut_function="(A (B (C)+!B !(C))+!A !(B (C)+!B !(C)))", lineinfo="@2(2921[38],2921[77])" *) LUT4 rp_sync2_r_2__I_0 (.A(rp_sync2_r[2]), 
            .B(rp_sync2_r[3]), .C(rp_sync2_r[4]), .Z(rd_cmp_mem_wr_w[2]));
    defparam rp_sync2_r_2__I_0.INIT = "0x9696";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(2967[25],2980[32])" *) FD1P3XZ wr_addr_nxt_c_0__I_0 (.D(wr_addr_nxt_c[0]), 
            .SP(VCC_net), .CK(clk_main), .SR(A), .Q(wr_addr_r[0]));
    defparam wr_addr_nxt_c_0__I_0.REGSET = "RESET";
    defparam wr_addr_nxt_c_0__I_0.SRMODE = "ASYNC";
    (* lut_function="(A (B (D)+!B (C (D)+!C !(D)))+!A (D))", lineinfo="@2(2938[34],2938[61])" *) LUT4 wr_addr_nxt_c_0__I_42_3_lut_4_lut (.A(wrEn_FIFO), 
            .B(fullFlag_FIFO), .C(A), .D(wr_addr_r[0]), .Z(wr_addr_nxt_c[0]));
    defparam wr_addr_nxt_c_0__I_42_3_lut_4_lut.INIT = "0xfd02";
    (* lut_function="(!(A (B (C))+!A !(B (C))))", lineinfo="@2(2854[45],2854[63])" *) LUT4 rd_addr_r_4__I_0 (.A(rd_addr_r[4]), 
            .B(rd_addr_r[3]), .C(rd_addr_p1_w_3__N_58), .Z(rd_addr_p1_w[4]));
    defparam rd_addr_r_4__I_0.INIT = "0x6a6a";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3007[25],3016[32])" *) FD1P3XZ rd_grey_sync_r_0__I_0 (.D(rd_grey_sync_r[0]), 
            .SP(VCC_net), .CK(clk_main), .SR(A), .Q(rp_sync1_r[0]));
    defparam rd_grey_sync_r_0__I_0.REGSET = "RESET";
    defparam rd_grey_sync_r_0__I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3007[25],3016[32])" *) FD1P3XZ rp_sync1_r_0__I_0 (.D(rp_sync1_r[0]), 
            .SP(VCC_net), .CK(clk_main), .SR(A), .Q(rp_sync2_r[0]));
    defparam rp_sync1_r_0__I_0.REGSET = "RESET";
    defparam rp_sync1_r_0__I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3162[25],3169[32])" *) FD1P3XZ rd_grey_w_0__I_0 (.D(rd_grey_w[0]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(A), .Q(rd_grey_sync_r[0]));
    defparam rd_grey_w_0__I_0.REGSET = "RESET";
    defparam rd_grey_w_0__I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3066[33],3075[40])" *) FD1P3XZ \afull_flag_impl.af_flag_nxt_w_I_0  (.D(\afull_flag_impl.af_flag_nxt_w ), 
            .SP(VCC_net), .CK(clk_main), .SR(A), .Q(almostFull_FIFO));
    defparam \afull_flag_impl.af_flag_nxt_w_I_0 .REGSET = "RESET";
    defparam \afull_flag_impl.af_flag_nxt_w_I_0 .SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3220[25],3233[32])" *) FD1P3XZ rd_addr_nxt_c_0__I_0 (.D(rd_addr_nxt_c[0]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(A), .Q(\rd_addr_r[0] ));
    defparam rd_addr_nxt_c_0__I_0.REGSET = "RESET";
    defparam rd_addr_nxt_c_0__I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3260[25],3269[32])" *) FD1P3XZ wr_grey_sync_r_0__I_0 (.D(wr_grey_sync_r[0]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(A), .Q(wp_sync1_r[0]));
    defparam wr_grey_sync_r_0__I_0.REGSET = "RESET";
    defparam wr_grey_sync_r_0__I_0.SRMODE = "ASYNC";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@2(2921[38],2921[77])" *) LUT4 rp_sync2_r_3__I_0 (.A(rp_sync2_r[3]), 
            .B(rp_sync2_r[4]), .Z(rd_cmp_mem_wr_w[3]));
    defparam rp_sync2_r_3__I_0.INIT = "0x6666";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3260[25],3269[32])" *) FD1P3XZ wp_sync1_r_0__I_0 (.D(wp_sync1_r[0]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(A), .Q(wp_sync2_r[0]));
    defparam wp_sync1_r_0__I_0.REGSET = "RESET";
    defparam wp_sync1_r_0__I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(2908[25],2915[32])" *) FD1P3XZ wr_grey_w_0__I_0 (.D(wr_grey_w[0]), 
            .SP(VCC_net), .CK(clk_main), .SR(A), .Q(wr_grey_sync_r[0]));
    defparam wr_grey_w_0__I_0.REGSET = "RESET";
    defparam wr_grey_w_0__I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3319[33],3328[40])" *) FD1P3XZ \aempty_flag_impl.ae_flag_nxt_w_I_0  (.D(\aempty_flag_impl.ae_flag_nxt_w ), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(A), .Q(almostEmpty_FIFO));
    defparam \aempty_flag_impl.ae_flag_nxt_w_I_0 .REGSET = "SET";
    defparam \aempty_flag_impl.ae_flag_nxt_w_I_0 .SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3407[33],3414[40])" *) FD1P3XZ rd_fifo_en_w_I_0 (.D(rd_fifo_en_w), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(A), .Q(rd_prev_r));
    defparam rd_fifo_en_w_I_0.REGSET = "RESET";
    defparam rd_fifo_en_w_I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3162[25],3169[32])" *) FD1P3XZ rd_grey_w_3__I_0 (.D(rd_grey_w[3]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(A), .Q(rd_grey_sync_r[3]));
    defparam rd_grey_w_3__I_0.REGSET = "RESET";
    defparam rd_grey_w_3__I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3007[25],3016[32])" *) FD1P3XZ rd_grey_sync_r_1__I_0 (.D(rd_grey_sync_r[1]), 
            .SP(VCC_net), .CK(clk_main), .SR(A), .Q(rp_sync1_r[1]));
    defparam rd_grey_sync_r_1__I_0.REGSET = "RESET";
    defparam rd_grey_sync_r_1__I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3162[25],3169[32])" *) FD1P3XZ rd_addr_nxt_c_4__I_0 (.D(rd_addr_nxt_c[4]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(A), .Q(rd_addr_r[4]));
    defparam rd_addr_nxt_c_4__I_0.REGSET = "RESET";
    defparam rd_addr_nxt_c_4__I_0.SRMODE = "ASYNC";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(3186[59],3186[99])" *) LUT4 rd_addr_r_3__I_0_2 (.A(rd_addr_r[3]), 
            .B(rd_addr_p1_w[3]), .C(rd_fifo_en_w), .Z(rd_addr_nxt_c[3]));
    defparam rd_addr_r_3__I_0_2.INIT = "0xcaca";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@2(3140[28],3140[66])" *) LUT4 rd_addr_nxt_c_3__I_0 (.A(rd_addr_nxt_c[3]), 
            .B(rd_addr_nxt_c[4]), .Z(rd_grey_w[3]));
    defparam rd_addr_nxt_c_3__I_0.INIT = "0x6666";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3162[25],3169[32])" *) FD1P3XZ rd_grey_w_2__I_0 (.D(rd_grey_w[2]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(A), .Q(rd_grey_sync_r[2]));
    defparam rd_grey_w_2__I_0.REGSET = "RESET";
    defparam rd_grey_w_2__I_0.SRMODE = "ASYNC";
    (* lut_function="(A ((C)+!B)+!A (C))", lineinfo="@2(3385[41],3385[67])" *) LUT4 rd_fifo_en_w_I_0_3_3_lut (.A(rdEn_FIFO), 
            .B(emptyFlag_FIFO), .C(rd_prev_r), .Z(t_rd_fifo_en_w));
    defparam rd_fifo_en_w_I_0_3_3_lut.INIT = "0xf2f2";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))+!A !(B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))))", lineinfo="@2(3175[38],3175[77])" *) LUT4 rd_sig_wr_w_0__I_0_3_lut_4_lut (.A(wp_sync2_r[0]), 
            .B(wp_sync2_r[1]), .C(rd_sig_wr_w[2]), .D(\rd_addr_r[0] ), 
            .Z(\rd_sig_diff0_w[0] ));
    defparam rd_sig_wr_w_0__I_0_3_lut_4_lut.INIT = "0x6996";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@2(3175[38],3175[77])" *) LUT4 wp_sync2_r_3__I_0_2 (.A(wp_sync2_r[3]), 
            .B(wp_sync2_r[4]), .Z(rd_sig_wr_w[3]));
    defparam wp_sync2_r_3__I_0_2.INIT = "0x6666";
    (* lut_function="(A ((C)+!B)+!A !(B+!(C)))", lineinfo="@2(2845[47],2845[78])" *) LUT4 i334_3_lut (.A(wr_addr_r[2]), 
            .B(rd_cmp_mem_wr_w[2]), .C(n4), .Z(n6));
    defparam i334_3_lut.INIT = "0xb2b2";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3162[25],3169[32])" *) FD1P3XZ rd_grey_w_1__I_0 (.D(rd_grey_w[1]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(A), .Q(rd_grey_sync_r[1]));
    defparam rd_grey_w_1__I_0.REGSET = "RESET";
    defparam rd_grey_w_1__I_0.SRMODE = "ASYNC";
    (* lut_function="(A (B (C)+!B !(C))+!A !(B (C)+!B !(C)))" *) LUT4 i2_3_lut (.A(n6), 
            .B(rd_cmp_mem_wr_w[3]), .C(wr_addr_r[3]), .Z(n2274));
    defparam i2_3_lut.INIT = "0x9696";
    (* lut_function="(A (B (C)+!B !(C))+!A !(B (C)+!B !(C)))" *) LUT4 i2_3_lut_adj_52 (.A(n4), 
            .B(rd_cmp_mem_wr_w[2]), .C(wr_addr_r[2]), .Z(n2281));
    defparam i2_3_lut_adj_52.INIT = "0x9696";
    (* lut_function="(A (B+(C (D)+!C !(D)))+!A (B+!(C (D)+!C !(D))))" *) LUT4 i2402_4_lut (.A(n2), 
            .B(n2274), .C(rd_cmp_mem_wr_w[1]), .D(wr_addr_r[1]), .Z(n2563));
    defparam i2402_4_lut.INIT = "0xedde";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(2967[25],2980[32])" *) FD1P3XZ fullFlag_FIFO_I_0 (.D(fullFlag_FIFO_N_68), 
            .SP(VCC_net), .CK(clk_main), .SR(A), .Q(fullFlag_FIFO));
    defparam fullFlag_FIFO_I_0.REGSET = "RESET";
    defparam fullFlag_FIFO_I_0.SRMODE = "ASYNC";
    (* lut_function="(!(A+(B+!(C+(D)))))" *) LUT4 i3_4_lut (.A(n2563), .B(n2281), 
            .C(wrEn_FIFO), .D(wr_sig_diff0_w[0]), .Z(\afull_flag_impl.af_flag_nxt_w_N_77 ));
    defparam i3_4_lut.INIT = "0x1110";
    (* lut_function="(A ((C)+!B)+!A !(B+!(C)))", lineinfo="@2(2866[47],2866[78])" *) LUT4 i370_3_lut (.A(rd_sig_wr_w[2]), 
            .B(\rd_addr_r[2] ), .C(n4_adj_82), .Z(n6_adj_83));
    defparam i370_3_lut.INIT = "0xb2b2";
    (* lut_function="(A+!(B (C (D)+!C !(D))+!B !(C (D)+!C !(D))))" *) LUT4 \afull_flag_impl.af_flag_nxt_w_I_49  (.A(\afull_flag_impl.af_flag_nxt_w_N_77 ), 
            .B(\afull_flag_impl.af_flag_nxt_w_N_78 ), .C(rp_sync2_r[4]), 
            .D(wr_addr_r[4]), .Z(\afull_flag_impl.af_flag_nxt_w ));
    defparam \afull_flag_impl.af_flag_nxt_w_I_49 .INIT = "0xbeeb";
    (* lut_function="(!((B)+!A))", lineinfo="@2(2874[29],2874[51])" *) LUT4 rdEn_FIFO_I_0 (.A(rdEn_FIFO), 
            .B(emptyFlag_FIFO), .Z(rd_fifo_en_w));
    defparam rdEn_FIFO_I_0.INIT = "0x2222";
    (* lut_function="(A (B (C+!(D))+!B !(C (D)))+!A !(B (C (D))+!B !(C+!(D))))", lineinfo="@2(3175[38],3175[77])" *) LUT4 i355_2_lut_3_lut_4_lut (.A(wp_sync2_r[0]), 
            .B(wp_sync2_r[1]), .C(rd_sig_wr_w[2]), .D(\rd_addr_r[0] ), 
            .Z(n2_adj_84));
    defparam i355_2_lut_3_lut_4_lut.INIT = "0x96ff";
    (* lut_function="(!((B)+!A))", lineinfo="@2(2873[29],2873[50])" *) LUT4 wrEn_FIFO_I_0 (.A(wrEn_FIFO), 
            .B(fullFlag_FIFO), .Z(wr_fifo_en_w));
    defparam wrEn_FIFO_I_0.INIT = "0x2222";
    (* lut_function="(A ((C+!(D))+!B)+!A !((C+!(D))+!B))", lineinfo="@2(2833[45],2833[63])" *) LUT4 wr_addr_r_1__I_0_2_4_lut_4_lut_4_lut (.A(wr_addr_r[1]), 
            .B(wr_addr_r[0]), .C(A), .D(wr_fifo_en_w), .Z(wr_addr_nxt_c[1]));
    defparam wr_addr_r_1__I_0_2_4_lut_4_lut_4_lut.INIT = "0xa6aa";
    (* lut_function="(A (B (C)+!B !(C))+!A !(B (C)+!B !(C)))", lineinfo="@2(2928[31],2928[67])" *) LUT4 equal_21_i2_2_lut_3_lut (.A(wr_addr_r[1]), 
            .B(rp_sync2_r[1]), .C(rd_cmp_mem_wr_w[2]), .Z(n2_adj_85));
    defparam equal_21_i2_2_lut_3_lut.INIT = "0x9696";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3220[25],3233[32])" *) FD1P3XZ emptyFlag_FIFO_I_0 (.D(emptyFlag_FIFO_N_69), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(A), .Q(emptyFlag_FIFO));
    defparam emptyFlag_FIFO_I_0.REGSET = "SET";
    defparam emptyFlag_FIFO_I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3007[25],3016[32])" *) FD1P3XZ rp_sync1_r_4__I_0 (.D(rp_sync1_r[4]), 
            .SP(VCC_net), .CK(clk_main), .SR(A), .Q(rp_sync2_r[4]));
    defparam rp_sync1_r_4__I_0.REGSET = "RESET";
    defparam rp_sync1_r_4__I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3007[25],3016[32])" *) FD1P3XZ rp_sync1_r_3__I_0 (.D(rp_sync1_r[3]), 
            .SP(VCC_net), .CK(clk_main), .SR(A), .Q(rp_sync2_r[3]));
    defparam rp_sync1_r_3__I_0.REGSET = "RESET";
    defparam rp_sync1_r_3__I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3220[25],3233[32])" *) FD1P3XZ rd_addr_nxt_c_3__I_0_2 (.D(rd_addr_nxt_c[3]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(A), .Q(rd_addr_r[3]));
    defparam rd_addr_nxt_c_3__I_0_2.REGSET = "RESET";
    defparam rd_addr_nxt_c_3__I_0_2.SRMODE = "ASYNC";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@2(3175[38],3175[77])" *) LUT4 wp_sync2_r_1__I_0 (.A(wp_sync2_r[1]), 
            .B(rd_sig_wr_w[2]), .Z(rd_sig_wr_w[1]));
    defparam wp_sync2_r_1__I_0.INIT = "0x6666";
    (* lut_function="(!(A (B (C (D)))+!A !(B (C (D)))))", lineinfo="@2(2833[45],2833[63])" *) LUT4 wr_addr_r_3__I_0_4_lut (.A(wr_addr_r[3]), 
            .B(wr_addr_r[1]), .C(wr_addr_r[0]), .D(wr_addr_r[2]), .Z(wr_addr_p1_w[3]));
    defparam wr_addr_r_3__I_0_4_lut.INIT = "0x6aaa";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3220[25],3233[32])" *) FD1P3XZ rd_addr_nxt_c_2__I_0_2 (.D(\rd_addr_nxt_c[2] ), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(A), .Q(\rd_addr_r[2] ));
    defparam rd_addr_nxt_c_2__I_0_2.REGSET = "RESET";
    defparam rd_addr_nxt_c_2__I_0_2.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3220[25],3233[32])" *) FD1P3XZ rd_addr_nxt_c_1__I_0_2 (.D(rd_addr_nxt_c[1]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(A), .Q(\rd_addr_r[1] ));
    defparam rd_addr_nxt_c_1__I_0_2.REGSET = "RESET";
    defparam rd_addr_nxt_c_1__I_0_2.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(2967[25],2980[32])" *) FD1P3XZ wr_addr_nxt_c_1__I_0_2 (.D(wr_addr_nxt_c[1]), 
            .SP(VCC_net), .CK(clk_main), .SR(A), .Q(wr_addr_r[1]));
    defparam wr_addr_nxt_c_1__I_0_2.REGSET = "RESET";
    defparam wr_addr_nxt_c_1__I_0_2.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(2967[25],2980[32])" *) FD1P3XZ wr_addr_nxt_c_2__I_0_2 (.D(wr_addr_nxt_c[2]), 
            .SP(VCC_net), .CK(clk_main), .SR(A), .Q(wr_addr_r[2]));
    defparam wr_addr_nxt_c_2__I_0_2.REGSET = "RESET";
    defparam wr_addr_nxt_c_2__I_0_2.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3260[25],3269[32])" *) FD1P3XZ wr_grey_sync_r_1__I_0 (.D(wr_grey_sync_r[1]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(A), .Q(wp_sync1_r[1]));
    defparam wr_grey_sync_r_1__I_0.REGSET = "RESET";
    defparam wr_grey_sync_r_1__I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3260[25],3269[32])" *) FD1P3XZ wr_grey_sync_r_2__I_0 (.D(wr_grey_sync_r[2]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(A), .Q(wp_sync1_r[2]));
    defparam wr_grey_sync_r_2__I_0.REGSET = "RESET";
    defparam wr_grey_sync_r_2__I_0.SRMODE = "ASYNC";
    (* lut_function="(A (((D)+!C)+!B)+!A !(((D)+!C)+!B))", lineinfo="@2(3186[59],3186[99])" *) LUT4 rd_addr_r_1__I_0 (.A(\rd_addr_r[1] ), 
            .B(\rd_addr_r[0] ), .C(rdEn_FIFO), .D(emptyFlag_FIFO), .Z(rd_addr_nxt_c[1]));
    defparam rd_addr_r_1__I_0.INIT = "0xaa6a";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3260[25],3269[32])" *) FD1P3XZ wr_grey_sync_r_3__I_0 (.D(wr_grey_sync_r[3]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(A), .Q(wp_sync1_r[3]));
    defparam wr_grey_sync_r_3__I_0.REGSET = "RESET";
    defparam wr_grey_sync_r_3__I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3260[25],3269[32])" *) FD1P3XZ wr_addr_r_4__I_0 (.D(wr_addr_r[4]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(A), .Q(wp_sync1_r[4]));
    defparam wr_addr_r_4__I_0.REGSET = "RESET";
    defparam wr_addr_r_4__I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3260[25],3269[32])" *) FD1P3XZ wp_sync1_r_1__I_0 (.D(wp_sync1_r[1]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(A), .Q(wp_sync2_r[1]));
    defparam wp_sync1_r_1__I_0.REGSET = "RESET";
    defparam wp_sync1_r_1__I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3260[25],3269[32])" *) FD1P3XZ wp_sync1_r_2__I_0 (.D(wp_sync1_r[2]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(A), .Q(wp_sync2_r[2]));
    defparam wp_sync1_r_2__I_0.REGSET = "RESET";
    defparam wp_sync1_r_2__I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3260[25],3269[32])" *) FD1P3XZ wp_sync1_r_3__I_0 (.D(wp_sync1_r[3]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(A), .Q(wp_sync2_r[3]));
    defparam wp_sync1_r_3__I_0.REGSET = "RESET";
    defparam wp_sync1_r_3__I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3260[25],3269[32])" *) FD1P3XZ wp_sync1_r_4__I_0 (.D(wp_sync1_r[4]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(A), .Q(wp_sync2_r[4]));
    defparam wp_sync1_r_4__I_0.REGSET = "RESET";
    defparam wp_sync1_r_4__I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(2908[25],2915[32])" *) FD1P3XZ wr_grey_w_1__I_0 (.D(wr_grey_w[1]), 
            .SP(VCC_net), .CK(clk_main), .SR(A), .Q(wr_grey_sync_r[1]));
    defparam wr_grey_w_1__I_0.REGSET = "RESET";
    defparam wr_grey_w_1__I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(2908[25],2915[32])" *) FD1P3XZ wr_grey_w_2__I_0 (.D(wr_grey_w[2]), 
            .SP(VCC_net), .CK(clk_main), .SR(A), .Q(wr_grey_sync_r[2]));
    defparam wr_grey_w_2__I_0.REGSET = "RESET";
    defparam wr_grey_w_2__I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(2908[25],2915[32])" *) FD1P3XZ wr_grey_w_3__I_0 (.D(wr_grey_w[3]), 
            .SP(VCC_net), .CK(clk_main), .SR(A), .Q(wr_grey_sync_r[3]));
    defparam wr_grey_w_3__I_0.REGSET = "RESET";
    defparam wr_grey_w_3__I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(2967[25],2980[32])" *) FD1P3XZ wr_addr_nxt_c_3__I_0_2 (.D(wr_addr_nxt_c[3]), 
            .SP(VCC_net), .CK(clk_main), .SR(A), .Q(wr_addr_r[3]));
    defparam wr_addr_nxt_c_3__I_0_2.REGSET = "RESET";
    defparam wr_addr_nxt_c_3__I_0_2.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(2967[25],2980[32])" *) FD1P3XZ wr_addr_nxt_c_4__I_0 (.D(wr_addr_nxt_c[4]), 
            .SP(VCC_net), .CK(clk_main), .SR(A), .Q(wr_addr_r[4]));
    defparam wr_addr_nxt_c_4__I_0.REGSET = "RESET";
    defparam wr_addr_nxt_c_4__I_0.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3007[25],3016[32])" *) FD1P3XZ rp_sync1_r_2__I_0 (.D(rp_sync1_r[2]), 
            .SP(VCC_net), .CK(clk_main), .SR(A), .Q(rp_sync2_r[2]));
    defparam rp_sync1_r_2__I_0.REGSET = "RESET";
    defparam rp_sync1_r_2__I_0.SRMODE = "ASYNC";
    (* lut_function="(A (B (C+(D))+!B ((D)+!C))+!A (B (C (D))+!B !(C+!(D))))", lineinfo="@2(2845[47],2845[78])" *) LUT4 i341_3_lut_4_lut (.A(wr_addr_r[3]), 
            .B(rp_sync2_r[3]), .C(rp_sync2_r[4]), .D(n6), .Z(\afull_flag_impl.af_flag_nxt_w_N_78 ));
    defparam i341_3_lut_4_lut.INIT = "0xeb82";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))+!A !(B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))))", lineinfo="@2(3180[28],3180[56])" *) LUT4 equal_58_i2_3_lut_4_lut (.A(wp_sync2_r[1]), 
            .B(rd_sig_wr_w[2]), .C(\rd_addr_r[1] ), .D(\rd_addr_r[0] ), 
            .Z(n2_adj_86));
    defparam equal_58_i2_3_lut_4_lut.INIT = "0x6996";
    (* lut_function="(A (B (C)+!B !(C))+!A !(B (C)+!B !(C)))", lineinfo="@2(3175[38],3175[77])" *) LUT4 wp_sync2_r_3__I_0 (.A(wp_sync2_r[3]), 
            .B(wp_sync2_r[2]), .C(wp_sync2_r[4]), .Z(rd_sig_wr_w[2]));
    defparam wp_sync2_r_3__I_0.INIT = "0x9696";
    (* lut_function="(!(A))", lineinfo="@12(233[4],233[11])" *) LUT4 i12_1_lut (.A(A), 
            .Z(cfgEn1_N_66));
    defparam i12_1_lut.INIT = "0x5555";
    (* lut_function="(A (B (C (D)+!C !(D))+!B !(D))+!A !(B (C (D)+!C !(D))+!B !(D)))", lineinfo="@2(3180[28],3180[56])" *) LUT4 equal_58_i3_2_lut_4_lut (.A(rd_sig_wr_w[2]), 
            .B(\rd_addr_r[1] ), .C(\rd_addr_r[0] ), .D(\rd_addr_r[2] ), 
            .Z(n3));
    defparam equal_58_i3_2_lut_4_lut.INIT = "0x956a";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@2(2886[28],2886[66])" *) LUT4 wr_addr_nxt_c_3__I_0 (.A(wr_addr_nxt_c[3]), 
            .B(wr_addr_nxt_c[4]), .Z(wr_grey_w[3]));
    defparam wr_addr_nxt_c_3__I_0.INIT = "0x6666";
    (* lut_function="((B)+!A)", lineinfo="@12(233[4],233[11])" *) LUT4 i1_2_lut_2_lut (.A(A), 
            .B(\step_i[3] ), .Z(n772));
    defparam i1_2_lut_2_lut.INIT = "0xdddd";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@2(2886[28],2886[66])" *) LUT4 wr_addr_nxt_c_2__I_0 (.A(wr_addr_nxt_c[2]), 
            .B(wr_addr_nxt_c[3]), .Z(wr_grey_w[2]));
    defparam wr_addr_nxt_c_2__I_0.INIT = "0x6666";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@2(2886[28],2886[66])" *) LUT4 wr_addr_nxt_c_1__I_0_3 (.A(wr_addr_nxt_c[1]), 
            .B(wr_addr_nxt_c[2]), .Z(wr_grey_w[1]));
    defparam wr_addr_nxt_c_1__I_0_3.INIT = "0x6666";
    (* lut_function="(A (B (C)+!B !(C))+!A !(B (C)+!B !(C)))" *) LUT4 i2_3_lut_adj_53 (.A(n4_adj_82), 
            .B(\rd_addr_r[2] ), .C(rd_sig_wr_w[2]), .Z(n2278));
    defparam i2_3_lut_adj_53.INIT = "0x9696";
    (* lut_function="(A (B (C (D)+!C !(D)))+!A !((C (D)+!C !(D))+!B))" *) LUT4 i1_4_lut (.A(n6_adj_83), 
            .B(n2278), .C(rd_addr_r[3]), .D(rd_sig_wr_w[3]), .Z(n4_adj_87));
    defparam i1_4_lut.INIT = "0x8448";
    (* lut_function="(A ((C)+!B)+!A !((C)+!B))", lineinfo="@2(3186[59],3186[99])" *) LUT4 rd_addr_r_0__I_0_3_lut (.A(\rd_addr_r[0] ), 
            .B(rdEn_FIFO), .C(emptyFlag_FIFO), .Z(rd_addr_nxt_c[0]));
    defparam rd_addr_r_0__I_0_3_lut.INIT = "0xa6a6";
    (* lut_function="(A (B (C (D)+!C !(D)))+!A !((C (D)+!C !(D))+!B))" *) LUT4 i2_4_lut (.A(n8), 
            .B(n4_adj_87), .C(rd_addr_r[4]), .D(wp_sync2_r[4]), .Z(\aempty_flag_impl.ae_flag_nxt_w_N_80 ));
    defparam i2_4_lut.INIT = "0x8448";
    (* lut_function="(A (B (C)))", lineinfo="@2(2833[45],2833[63])" *) LUT4 i259_2_lut_3_lut (.A(wr_addr_r[1]), 
            .B(wr_addr_r[0]), .C(wr_addr_r[2]), .Z(wr_addr_p1_w_3__N_55));
    defparam i259_2_lut_3_lut.INIT = "0x8080";
    (* lut_function="(A (B (C (D)+!C !(D))+!B !(D))+!A !(B (C (D)+!C !(D))+!B !(D)))", lineinfo="@2(2938[33],2938[89])" *) LUT4 wr_addr_nxt_c_1__I_0_4_lut (.A(wr_addr_nxt_c[1]), 
            .B(wr_fifo_en_w), .C(cfgEn1_N_66), .D(wr_addr_r[0]), .Z(wr_grey_w[0]));
    defparam wr_addr_nxt_c_1__I_0_4_lut.INIT = "0x956a";
    (* lut_function="(!((B)+!A))" *) LUT4 i1_2_lut (.A(n67), .B(\step_i[0] ), 
            .Z(n11));
    defparam i1_2_lut.INIT = "0x2222";
    (* lut_function="(A (B (C (D)))+!A (B))", lineinfo="@2(3294[40],3294[85])" *) LUT4 \aempty_flag_impl.ae_flag_nxt_w_I_50  (.A(\aempty_flag_impl.ae_flag_nxt_w_N_79 ), 
            .B(\aempty_flag_impl.ae_flag_nxt_w_N_80 ), .C(\aempty_flag_impl.ae_flag_nxt_w_N_81 ), 
            .D(almostEmpty_FIFO), .Z(\aempty_flag_impl.ae_flag_nxt_w ));
    defparam \aempty_flag_impl.ae_flag_nxt_w_I_50 .INIT = "0xc444";
    (* lut_function="(!(A+!(B (C+(D)))))" *) LUT4 i1_4_lut_adj_54 (.A(n2571), 
            .B(A), .C(n11), .D(\step_i[1] ), .Z(ramEn_N_74));
    defparam i1_4_lut_adj_54.INIT = "0x4440";
    (* lut_function="(!(A (B (C)+!B !(C))+!A !(C)))", lineinfo="@2(2833[45],2833[63])" *) LUT4 wr_addr_r_2__I_0_3_lut (.A(wr_addr_r[1]), 
            .B(wr_addr_r[0]), .C(wr_addr_r[2]), .Z(wr_addr_p1_w[2]));
    defparam wr_addr_r_2__I_0_3_lut.INIT = "0x7878";
    (* lut_function="(A (B (C+(D))+!B ((D)+!C))+!A (B ((D)+!C)+!B (C+(D))))", lineinfo="@2(2833[45],2833[63])" *) LUT4 i2416_3_lut_4_lut (.A(wr_addr_r[1]), 
            .B(wr_addr_r[0]), .C(rd_cmp_mem_wr_w[1]), .D(n2535), .Z(n2577));
    defparam i2416_3_lut_4_lut.INIT = "0xff96";
    (* lut_function="(A (((D)+!C)+!B)+!A ((C+(D))+!B))", lineinfo="@2(3180[28],3180[56])" *) LUT4 i3_4_lut_adj_55 (.A(wp_sync2_r[4]), 
            .B(\rd_sig_diff0_w[0] ), .C(rd_addr_p1_w[4]), .D(n3), .Z(n8_adj_88));
    defparam i3_4_lut_adj_55.INIT = "0xff7b";
    (* lut_function="(!(A (B (C (D))+!B !((D)+!C))+!A !(B (C+!(D))+!B (C+(D)))))" *) LUT4 i2392_4_lut (.A(\rd_addr_r[2] ), 
            .B(rd_addr_r[3]), .C(rd_sig_wr_w[2]), .D(rd_sig_wr_w[3]), 
            .Z(n2553));
    defparam i2392_4_lut.INIT = "0x7bde";
    (* lut_function="(!(A (B (C+!(D))+!B !((D)+!C))+!A !(B ((D)+!C)+!B !(C+!(D)))))", lineinfo="@2(2866[47],2866[78])" *) LUT4 i377_3_lut_4_lut (.A(wp_sync2_r[3]), 
            .B(wp_sync2_r[4]), .C(rd_addr_r[3]), .D(n6_adj_83), .Z(n8));
    defparam i377_3_lut_4_lut.INIT = "0x6f06";
    (* lut_function="(A (B+(C+!(D)))+!A (B+(C+(D))))", lineinfo="@2(3180[28],3180[56])" *) LUT4 i4_4_lut (.A(rd_sig_wr_w[3]), 
            .B(n8_adj_88), .C(n2_adj_86), .D(rd_addr_p1_w[3]), .Z(n2257));
    defparam i4_4_lut.INIT = "0xfdfe";
    (* lut_function="(!(A+((C)+!B)))", lineinfo="@2(3191[46],3191[103])" *) LUT4 i2454_3_lut (.A(n2551), 
            .B(emptyFlag_FIFO), .C(n2553), .Z(n2612));
    defparam i2454_3_lut.INIT = "0x0404";
    (* lut_function="(!(A ((C (D))+!B)+!A ((C+!(D))+!B)))", lineinfo="@2(3220[25],3233[32])" *) LUT4 i1558_4_lut (.A(n2612), 
            .B(cfgEn1_N_66), .C(n2257), .D(rd_fifo_en_w), .Z(emptyFlag_FIFO_N_69));
    defparam i1558_4_lut.INIT = "0x0c88";
    (* lut_function="(!(A (B (C))+!A !(B (C))))", lineinfo="@2(2833[45],2833[63])" *) LUT4 wr_addr_r_4__I_0_3 (.A(wr_addr_r[4]), 
            .B(wr_addr_r[3]), .C(wr_addr_p1_w_3__N_55), .Z(wr_addr_p1_w[4]));
    defparam wr_addr_r_4__I_0_3.INIT = "0x6a6a";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))+!A !(B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))))" *) LUT4 i2_3_lut_4_lut (.A(n2_adj_84), 
            .B(\rd_addr_r[1] ), .C(wp_sync2_r[1]), .D(rd_sig_wr_w[2]), 
            .Z(\aempty_flag_impl.ae_flag_nxt_w_N_81 ));
    defparam i2_3_lut_4_lut.INIT = "0x6996";
    (* lut_function="(!(A (B (C+!(D))+!B !((D)+!C))+!A !(B ((D)+!C)+!B !(C+!(D)))))", lineinfo="@2(2866[47],2866[78])" *) LUT4 i363_3_lut_4_lut (.A(wp_sync2_r[1]), 
            .B(rd_sig_wr_w[2]), .C(\rd_addr_r[1] ), .D(n2_adj_84), .Z(n4_adj_82));
    defparam i363_3_lut_4_lut.INIT = "0x6f06";
    (* lut_function="(!(A (B (C (D))+!B !((D)+!C))+!A !(B (C+!(D))+!B (C+(D)))))" *) LUT4 i2394_4_lut (.A(wr_addr_r[2]), 
            .B(wr_addr_r[3]), .C(rd_cmp_mem_wr_w[2]), .D(rd_cmp_mem_wr_w[3]), 
            .Z(n2555));
    defparam i2394_4_lut.INIT = "0x7bde";
    (* lut_function="(!(A (B (C (D))+!B !((D)+!C))+!A !(B (C+!(D))+!B (C+(D)))))" *) LUT4 i2374_4_lut (.A(wr_addr_p1_w[2]), 
            .B(wr_addr_p1_w[3]), .C(rd_cmp_mem_wr_w[2]), .D(rd_cmp_mem_wr_w[3]), 
            .Z(n2535));
    defparam i2374_4_lut.INIT = "0x7bde";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))+!A (C (D)+!C !(D))))", lineinfo="@2(3186[59],3186[99])" *) LUT4 rd_fifo_en_w_I_0_2_4_lut (.A(rdEn_FIFO), 
            .B(emptyFlag_FIFO), .C(\rd_addr_r[0] ), .D(rd_addr_nxt_c[1]), 
            .Z(rd_grey_w[0]));
    defparam rd_fifo_en_w_I_0_2_4_lut.INIT = "0x2dd2";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 wr_addr_r_0__I_0 (.A(wr_addr_r[0]), 
            .B(rd_cmp_mem_wr_w[0]), .Z(wr_sig_diff0_w[0]));
    defparam wr_addr_r_0__I_0.INIT = "0x6666";
    (* lut_function="(!(A (B (C (D)))+!A !(B (C (D)))))", lineinfo="@2(3186[59],3186[99])" *) LUT4 rd_addr_r_4__I_0_3_4_lut (.A(rd_addr_r[4]), 
            .B(rd_addr_r[3]), .C(rd_addr_p1_w_3__N_58), .D(rd_fifo_en_w), 
            .Z(rd_addr_nxt_c[4]));
    defparam rd_addr_r_4__I_0_3_4_lut.INIT = "0x6aaa";
    (* lut_function="(A (B ((D)+!C)+!B (C+!(D)))+!A !(B (C (D))+!B !(C+(D))))", lineinfo="@2(3175[38],3175[77])" *) LUT4 i2390_4_lut_4_lut (.A(wp_sync2_r[0]), 
            .B(rd_sig_wr_w[1]), .C(\rd_addr_r[1] ), .D(\rd_addr_r[0] ), 
            .Z(n2551));
    defparam i2390_4_lut_4_lut.INIT = "0xbd7e";
    (* lut_function="(A (B+(C+!(D)))+!A (B+(C+(D))))" *) LUT4 i2412_4_lut (.A(wr_addr_r[0]), 
            .B(n2555), .C(n2_adj_85), .D(rd_cmp_mem_wr_w[0]), .Z(n2573));
    defparam i2412_4_lut.INIT = "0xfdfe";
    (* lut_function="(!(A (B+((D)+!C))+!A (B+!(C (D)))))", lineinfo="@2(2933[45],2933[114])" *) LUT4 i2463_4_lut (.A(wr_addr_p1_w[4]), 
            .B(n2577), .C(wr_sig_diff0_w[0]), .D(rp_sync2_r[4]), .Z(n2608));
    defparam i2463_4_lut.INIT = "0x1020";
    (* lut_function="(!(A (B (C+!(D))+!B !(C+(D)))+!A (B+!(C))))", lineinfo="@2(2933[45],2933[114])" *) LUT4 i27_4_lut (.A(n2608), 
            .B(n2573), .C(fullFlag_FIFO), .D(wrEn_FIFO), .Z(fullFlag_FIFO_N_68));
    defparam i27_4_lut.INIT = "0x3a30";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@2(3140[28],3140[66])" *) LUT4 rd_addr_nxt_c_1__I_0 (.A(rd_addr_nxt_c[1]), 
            .B(\rd_addr_nxt_c[2] ), .Z(rd_grey_w[1]));
    defparam rd_addr_nxt_c_1__I_0.INIT = "0x6666";
    (* lut_function="(!(A (B (C (D)))+!A !(B (C (D)))))", lineinfo="@2(2854[45],2854[63])" *) LUT4 rd_addr_r_3__I_0_4_lut (.A(rd_addr_r[3]), 
            .B(\rd_addr_r[1] ), .C(\rd_addr_r[0] ), .D(\rd_addr_r[2] ), 
            .Z(rd_addr_p1_w[3]));
    defparam rd_addr_r_3__I_0_4_lut.INIT = "0x6aaa";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@2(3140[28],3140[66])" *) LUT4 rd_addr_nxt_c_2__I_0 (.A(\rd_addr_nxt_c[2] ), 
            .B(rd_addr_nxt_c[3]), .Z(rd_grey_w[2]));
    defparam rd_addr_nxt_c_2__I_0.INIT = "0x6666";
    (* lut_function="(A (B (C)+!B (D))+!A (D))", lineinfo="@2(2938[34],2938[61])" *) LUT4 wr_addr_r_3__I_0_2_4_lut (.A(wr_fifo_en_w), 
            .B(cfgEn1_N_66), .C(wr_addr_p1_w[3]), .D(wr_addr_r[3]), .Z(wr_addr_nxt_c[3]));
    defparam wr_addr_r_3__I_0_2_4_lut.INIT = "0xf780";
    (* lut_function="(A (B (C)+!B (D))+!A (D))", lineinfo="@2(2938[34],2938[61])" *) LUT4 wr_addr_r_2__I_0_2_4_lut (.A(wr_fifo_en_w), 
            .B(cfgEn1_N_66), .C(wr_addr_p1_w[2]), .D(wr_addr_r[2]), .Z(wr_addr_nxt_c[2]));
    defparam wr_addr_r_2__I_0_2_4_lut.INIT = "0xf780";
    (* lut_function="(A (B (C+(D))+!B ((D)+!C))+!A (B (C (D))+!B !(C+!(D))))", lineinfo="@2(2845[47],2845[78])" *) LUT4 i327_3_lut_4_lut (.A(wr_addr_r[1]), 
            .B(rp_sync2_r[1]), .C(rd_cmp_mem_wr_w[2]), .D(n2), .Z(n4));
    defparam i327_3_lut_4_lut.INIT = "0xeb82";
    (* lut_function="(A (B (C)+!B (D))+!A (D))", lineinfo="@2(2938[34],2938[61])" *) LUT4 wr_addr_r_4__I_0_2_4_lut (.A(wr_fifo_en_w), 
            .B(cfgEn1_N_66), .C(wr_addr_p1_w[4]), .D(wr_addr_r[4]), .Z(wr_addr_nxt_c[4]));
    defparam wr_addr_r_4__I_0_2_4_lut.INIT = "0xf780";
    (* lut_function="(A (B (C)))", lineinfo="@2(2854[45],2854[63])" *) LUT4 i295_2_lut_3_lut (.A(\rd_addr_r[1] ), 
            .B(\rd_addr_r[0] ), .C(\rd_addr_r[2] ), .Z(rd_addr_p1_w_3__N_58));
    defparam i295_2_lut_3_lut.INIT = "0x8080";
    (* lut_function="(A (B (C)+!B !(C))+!A !(B (C)+!B !(C)))", lineinfo="@2(2921[38],2921[77])" *) LUT4 rp_sync2_r_0__I_0_3_lut (.A(rp_sync2_r[0]), 
            .B(rp_sync2_r[1]), .C(rd_cmp_mem_wr_w[2]), .Z(rd_cmp_mem_wr_w[0]));
    defparam rp_sync2_r_0__I_0_3_lut.INIT = "0x9696";
    (* lineinfo="@2(3511[58],3525[67])" *) \My_FIFO_ipgen_lscc_fifo_mem(FAMILY="iCE40UP",WADDR_DEPTH=16,WADDR_WIDTH=4,WDATA_WIDTH=16,RADDR_DEPTH=16,RADDR_WIDTH=4,RDATA_WIDTH=16,RESETMODE="async",BYTE_ENABLE=0,BYTE_WIDTH=1) \EBR.EBR_OTHER.u_fifo_mem0  ({rdData_FIFO}, 
            iIR_PClk_c, A, GND_net, clk_main, wr_fifo_en_w, t_rd_fifo_en_w, 
            rd_fifo_en_w, rd_addr_r[3], \rd_addr_r[2] , \rd_addr_r[1] , 
            \rd_addr_r[0] , wr_addr_r[3], wr_addr_r[2], wr_addr_r[1], 
            wr_addr_r[0], {wrData_FIFO});
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=38, LSE_RCOL=55, LSE_LLINE=380, LSE_RLINE=405, lineinfo="@2(3007[25],3016[32])" *) FD1P3XZ rp_sync1_r_1__I_0 (.D(rp_sync1_r[1]), 
            .SP(VCC_net), .CK(clk_main), .SR(A), .Q(rp_sync2_r[1]));
    defparam rp_sync1_r_1__I_0.REGSET = "RESET";
    defparam rp_sync1_r_1__I_0.SRMODE = "ASYNC";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module \My_FIFO_ipgen_lscc_fifo_mem(FAMILY="iCE40UP",WADDR_DEPTH=16,WADDR_WIDTH=4,WDATA_WIDTH=16,RADDR_DEPTH=16,RADDR_WIDTH=4,RDATA_WIDTH=16,RESETMODE="async",BYTE_ENABLE=0,BYTE_WIDTH=1) 
//

module \My_FIFO_ipgen_lscc_fifo_mem(FAMILY="iCE40UP",WADDR_DEPTH=16,WADDR_WIDTH=4,WDATA_WIDTH=16,RADDR_DEPTH=16,RADDR_WIDTH=4,RDATA_WIDTH=16,RESETMODE="async",BYTE_ENABLE=0,BYTE_WIDTH=1) (output [15:0]rdData_FIFO, 
            input iIR_PClk_c, input R, input GND_net, input clk_main, 
            input wr_fifo_en_w, input t_rd_fifo_en_w, input rd_fifo_en_w, 
            input \rd_addr_r[3] , input \rd_addr_r[2] , input \rd_addr_r[1] , 
            input \rd_addr_r[0] , input \wr_addr_r[3] , input \wr_addr_r[2] , 
            input \wr_addr_r[1] , input \wr_addr_r[0] , input [15:0]wrData_FIFO);
    
    (* is_clock=1, lineinfo="@11(19[11],19[19])" *) wire iIR_PClk_c;
    (* is_clock=1, lineinfo="@11(72[6],72[14])" *) wire clk_main;
    
    (* lineinfo="@2(4048[44],4062[47])" *) \My_FIFO_ipgen_lscc_fifo_mem_main(FAMILY="iCE40UP",WADDR_DEPTH=16,WADDR_WIDTH=4,WDATA_WIDTH=16,RADDR_DEPTH=16,RADDR_WIDTH=4,RDATA_WIDTH=16,RESETMODE="async",BYTE_ENABLE=0,BYTE_SIZE=9,BYTE_WIDTH=1) mem_main ({rdData_FIFO}, 
            iIR_PClk_c, R, GND_net, clk_main, wr_fifo_en_w, t_rd_fifo_en_w, 
            rd_fifo_en_w, \rd_addr_r[3] , \rd_addr_r[2] , \rd_addr_r[1] , 
            \rd_addr_r[0] , \wr_addr_r[3] , \wr_addr_r[2] , \wr_addr_r[1] , 
            \wr_addr_r[0] , {wrData_FIFO});
    
endmodule

//
// Verilog Description of module \My_FIFO_ipgen_lscc_fifo_mem_main(FAMILY="iCE40UP",WADDR_DEPTH=16,WADDR_WIDTH=4,WDATA_WIDTH=16,RADDR_DEPTH=16,RADDR_WIDTH=4,RDATA_WIDTH=16,RESETMODE="async",BYTE_ENABLE=0,BYTE_SIZE=9,BYTE_WIDTH=1) 
//

module \My_FIFO_ipgen_lscc_fifo_mem_main(FAMILY="iCE40UP",WADDR_DEPTH=16,WADDR_WIDTH=4,WDATA_WIDTH=16,RADDR_DEPTH=16,RADDR_WIDTH=4,RDATA_WIDTH=16,RESETMODE="async",BYTE_ENABLE=0,BYTE_SIZE=9,BYTE_WIDTH=1) (output [15:0]rdData_FIFO, 
            input iIR_PClk_c, input R, input GND_net, input clk_main, 
            input wr_fifo_en_w, input t_rd_fifo_en_w, input rd_fifo_en_w, 
            input \rd_addr_r[3] , input \rd_addr_r[2] , input \rd_addr_r[1] , 
            input \rd_addr_r[0] , input \wr_addr_r[3] , input \wr_addr_r[2] , 
            input \wr_addr_r[1] , input \wr_addr_r[0] , input [15:0]wrData_FIFO);
    
    (* is_clock=1, lineinfo="@11(19[11],19[19])" *) wire iIR_PClk_c;
    (* is_clock=1, lineinfo="@11(72[6],72[14])" *) wire clk_main;
    
    (* lineinfo="@2(4695[80],4709[83])" *) \My_FIFO_ipgen_lscc_fifo_mem_core(MEM_SIZE="18,1024",FAMILY="iCE40UP",DATA_WIDTH_W=32'b010000,DATA_WIDTH_R=32'b010000,RESETMODE="async",BYTE_ENABLE=1'b0,POSx=32'b0,POSy=32'b0) \NON_MIX.ADDR_ROUTE[0].DATA_ROUTE[0].no_init.u_mem0  ({rdData_FIFO}, 
            iIR_PClk_c, R, GND_net, clk_main, wr_fifo_en_w, t_rd_fifo_en_w, 
            rd_fifo_en_w, \rd_addr_r[3] , \rd_addr_r[2] , \rd_addr_r[1] , 
            \rd_addr_r[0] , \wr_addr_r[3] , \wr_addr_r[2] , \wr_addr_r[1] , 
            \wr_addr_r[0] , {wrData_FIFO});
    
endmodule

//
// Verilog Description of module \My_FIFO_ipgen_lscc_fifo_mem_core(MEM_SIZE="18,1024",FAMILY="iCE40UP",DATA_WIDTH_W=32'b010000,DATA_WIDTH_R=32'b010000,RESETMODE="async",BYTE_ENABLE=1'b0,POSx=32'b0,POSy=32'b0) 
//

module \My_FIFO_ipgen_lscc_fifo_mem_core(MEM_SIZE="18,1024",FAMILY="iCE40UP",DATA_WIDTH_W=32'b010000,DATA_WIDTH_R=32'b010000,RESETMODE="async",BYTE_ENABLE=1'b0,POSx=32'b0,POSy=32'b0) (output [15:0]rdData_FIFO, 
            input iIR_PClk_c, input R, input GND_net, input clk_main, 
            input wr_fifo_en_w, input t_rd_fifo_en_w, input rd_fifo_en_w, 
            input \rd_addr_r[3] , input \rd_addr_r[2] , input \rd_addr_r[1] , 
            input \rd_addr_r[0] , input \wr_addr_r[3] , input \wr_addr_r[2] , 
            input \wr_addr_r[1] , input \wr_addr_r[0] , input [15:0]wrData_FIFO);
    
    (* is_clock=1, lineinfo="@11(19[11],19[19])" *) wire iIR_PClk_c;
    (* is_clock=1, lineinfo="@11(72[6],72[14])" *) wire clk_main;
    (* lineinfo="@2(7665[45],7665[54])" *) wire [15:0]\ICE_MEM.rd_data_w ;
    
    wire VCC_net;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=78, LSE_LCOL=80, LSE_RCOL=83, LSE_LLINE=4695, LSE_RLINE=4709, lineinfo="@2(4695[80],4709[83])" *) EBR_B \ICE_MEM.u_mem0  (.RADDR10(GND_net), 
            .RADDR9(GND_net), .RADDR8(GND_net), .RADDR7(GND_net), .RADDR6(GND_net), 
            .RADDR5(GND_net), .RADDR4(GND_net), .RADDR3(\rd_addr_r[3] ), 
            .RADDR2(\rd_addr_r[2] ), .RADDR1(\rd_addr_r[1] ), .RADDR0(\rd_addr_r[0] ), 
            .WADDR10(GND_net), .WADDR9(GND_net), .WADDR8(GND_net), .WADDR7(GND_net), 
            .WADDR6(GND_net), .WADDR5(GND_net), .WADDR4(GND_net), .WADDR3(\wr_addr_r[3] ), 
            .WADDR2(\wr_addr_r[2] ), .WADDR1(\wr_addr_r[1] ), .WADDR0(\wr_addr_r[0] ), 
            .MASK_N15(GND_net), .MASK_N14(GND_net), .MASK_N13(GND_net), 
            .MASK_N12(GND_net), .MASK_N11(GND_net), .MASK_N10(GND_net), 
            .MASK_N9(GND_net), .MASK_N8(GND_net), .MASK_N7(GND_net), .MASK_N6(GND_net), 
            .MASK_N5(GND_net), .MASK_N4(GND_net), .MASK_N3(GND_net), .MASK_N2(GND_net), 
            .MASK_N1(GND_net), .MASK_N0(GND_net), .WDATA15(wrData_FIFO[15]), 
            .WDATA14(wrData_FIFO[14]), .WDATA13(wrData_FIFO[13]), .WDATA12(wrData_FIFO[12]), 
            .WDATA11(wrData_FIFO[11]), .WDATA10(wrData_FIFO[10]), .WDATA9(wrData_FIFO[9]), 
            .WDATA8(wrData_FIFO[8]), .WDATA7(wrData_FIFO[7]), .WDATA6(wrData_FIFO[6]), 
            .WDATA5(wrData_FIFO[5]), .WDATA4(wrData_FIFO[4]), .WDATA3(wrData_FIFO[3]), 
            .WDATA2(wrData_FIFO[2]), .WDATA1(wrData_FIFO[1]), .WDATA0(wrData_FIFO[0]), 
            .RCLKE(t_rd_fifo_en_w), .RCLK(iIR_PClk_c), .RE(rd_fifo_en_w), 
            .WCLKE(wr_fifo_en_w), .WCLK(clk_main), .WE(wr_fifo_en_w), 
            .RDATA15(\ICE_MEM.rd_data_w [15]), .RDATA14(\ICE_MEM.rd_data_w [14]), 
            .RDATA13(\ICE_MEM.rd_data_w [13]), .RDATA12(\ICE_MEM.rd_data_w [12]), 
            .RDATA11(\ICE_MEM.rd_data_w [11]), .RDATA10(\ICE_MEM.rd_data_w [10]), 
            .RDATA9(\ICE_MEM.rd_data_w [9]), .RDATA8(\ICE_MEM.rd_data_w [8]), 
            .RDATA7(\ICE_MEM.rd_data_w [7]), .RDATA6(\ICE_MEM.rd_data_w [6]), 
            .RDATA5(\ICE_MEM.rd_data_w [5]), .RDATA4(\ICE_MEM.rd_data_w [4]), 
            .RDATA3(\ICE_MEM.rd_data_w [3]), .RDATA2(\ICE_MEM.rd_data_w [2]), 
            .RDATA1(\ICE_MEM.rd_data_w [1]), .RDATA0(\ICE_MEM.rd_data_w [0]));
    defparam \ICE_MEM.u_mem0 .INIT_0 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam \ICE_MEM.u_mem0 .INIT_1 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam \ICE_MEM.u_mem0 .INIT_2 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam \ICE_MEM.u_mem0 .INIT_3 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam \ICE_MEM.u_mem0 .INIT_4 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam \ICE_MEM.u_mem0 .INIT_5 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam \ICE_MEM.u_mem0 .INIT_6 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam \ICE_MEM.u_mem0 .INIT_7 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam \ICE_MEM.u_mem0 .INIT_8 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam \ICE_MEM.u_mem0 .INIT_9 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam \ICE_MEM.u_mem0 .INIT_A = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam \ICE_MEM.u_mem0 .INIT_B = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam \ICE_MEM.u_mem0 .INIT_C = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam \ICE_MEM.u_mem0 .INIT_D = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam \ICE_MEM.u_mem0 .INIT_E = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam \ICE_MEM.u_mem0 .INIT_F = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam \ICE_MEM.u_mem0 .DATA_WIDTH_W = "16";
    defparam \ICE_MEM.u_mem0 .DATA_WIDTH_R = "16";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=80, LSE_RCOL=83, LSE_LLINE=4695, LSE_RLINE=4709, lineinfo="@2(8221[45],8231[52])" *) FD1P3XZ \ICE_MEM.rd_data_w_1__I_0  (.D(\ICE_MEM.rd_data_w [1]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(R), .Q(rdData_FIFO[1]));
    defparam \ICE_MEM.rd_data_w_1__I_0 .REGSET = "RESET";
    defparam \ICE_MEM.rd_data_w_1__I_0 .SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=80, LSE_RCOL=83, LSE_LLINE=4695, LSE_RLINE=4709, lineinfo="@2(8221[45],8231[52])" *) FD1P3XZ \ICE_MEM.rd_data_w_2__I_0  (.D(\ICE_MEM.rd_data_w [2]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(R), .Q(rdData_FIFO[2]));
    defparam \ICE_MEM.rd_data_w_2__I_0 .REGSET = "RESET";
    defparam \ICE_MEM.rd_data_w_2__I_0 .SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=80, LSE_RCOL=83, LSE_LLINE=4695, LSE_RLINE=4709, lineinfo="@2(8221[45],8231[52])" *) FD1P3XZ \ICE_MEM.rd_data_w_3__I_0  (.D(\ICE_MEM.rd_data_w [3]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(R), .Q(rdData_FIFO[3]));
    defparam \ICE_MEM.rd_data_w_3__I_0 .REGSET = "RESET";
    defparam \ICE_MEM.rd_data_w_3__I_0 .SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=80, LSE_RCOL=83, LSE_LLINE=4695, LSE_RLINE=4709, lineinfo="@2(8221[45],8231[52])" *) FD1P3XZ \ICE_MEM.rd_data_w_4__I_0  (.D(\ICE_MEM.rd_data_w [4]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(R), .Q(rdData_FIFO[4]));
    defparam \ICE_MEM.rd_data_w_4__I_0 .REGSET = "RESET";
    defparam \ICE_MEM.rd_data_w_4__I_0 .SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=80, LSE_RCOL=83, LSE_LLINE=4695, LSE_RLINE=4709, lineinfo="@2(8221[45],8231[52])" *) FD1P3XZ \ICE_MEM.rd_data_w_5__I_0  (.D(\ICE_MEM.rd_data_w [5]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(R), .Q(rdData_FIFO[5]));
    defparam \ICE_MEM.rd_data_w_5__I_0 .REGSET = "RESET";
    defparam \ICE_MEM.rd_data_w_5__I_0 .SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=80, LSE_RCOL=83, LSE_LLINE=4695, LSE_RLINE=4709, lineinfo="@2(8221[45],8231[52])" *) FD1P3XZ \ICE_MEM.rd_data_w_6__I_0  (.D(\ICE_MEM.rd_data_w [6]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(R), .Q(rdData_FIFO[6]));
    defparam \ICE_MEM.rd_data_w_6__I_0 .REGSET = "RESET";
    defparam \ICE_MEM.rd_data_w_6__I_0 .SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=80, LSE_RCOL=83, LSE_LLINE=4695, LSE_RLINE=4709, lineinfo="@2(8221[45],8231[52])" *) FD1P3XZ \ICE_MEM.rd_data_w_7__I_0  (.D(\ICE_MEM.rd_data_w [7]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(R), .Q(rdData_FIFO[7]));
    defparam \ICE_MEM.rd_data_w_7__I_0 .REGSET = "RESET";
    defparam \ICE_MEM.rd_data_w_7__I_0 .SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=80, LSE_RCOL=83, LSE_LLINE=4695, LSE_RLINE=4709, lineinfo="@2(8221[45],8231[52])" *) FD1P3XZ \ICE_MEM.rd_data_w_8__I_0  (.D(\ICE_MEM.rd_data_w [8]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(R), .Q(rdData_FIFO[8]));
    defparam \ICE_MEM.rd_data_w_8__I_0 .REGSET = "RESET";
    defparam \ICE_MEM.rd_data_w_8__I_0 .SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=80, LSE_RCOL=83, LSE_LLINE=4695, LSE_RLINE=4709, lineinfo="@2(8221[45],8231[52])" *) FD1P3XZ \ICE_MEM.rd_data_w_9__I_0  (.D(\ICE_MEM.rd_data_w [9]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(R), .Q(rdData_FIFO[9]));
    defparam \ICE_MEM.rd_data_w_9__I_0 .REGSET = "RESET";
    defparam \ICE_MEM.rd_data_w_9__I_0 .SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=80, LSE_RCOL=83, LSE_LLINE=4695, LSE_RLINE=4709, lineinfo="@2(8221[45],8231[52])" *) FD1P3XZ \ICE_MEM.rd_data_w_10__I_0  (.D(\ICE_MEM.rd_data_w [10]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(R), .Q(rdData_FIFO[10]));
    defparam \ICE_MEM.rd_data_w_10__I_0 .REGSET = "RESET";
    defparam \ICE_MEM.rd_data_w_10__I_0 .SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=80, LSE_RCOL=83, LSE_LLINE=4695, LSE_RLINE=4709, lineinfo="@2(8221[45],8231[52])" *) FD1P3XZ \ICE_MEM.rd_data_w_11__I_0  (.D(\ICE_MEM.rd_data_w [11]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(R), .Q(rdData_FIFO[11]));
    defparam \ICE_MEM.rd_data_w_11__I_0 .REGSET = "RESET";
    defparam \ICE_MEM.rd_data_w_11__I_0 .SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=80, LSE_RCOL=83, LSE_LLINE=4695, LSE_RLINE=4709, lineinfo="@2(8221[45],8231[52])" *) FD1P3XZ \ICE_MEM.rd_data_w_12__I_0  (.D(\ICE_MEM.rd_data_w [12]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(R), .Q(rdData_FIFO[12]));
    defparam \ICE_MEM.rd_data_w_12__I_0 .REGSET = "RESET";
    defparam \ICE_MEM.rd_data_w_12__I_0 .SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=80, LSE_RCOL=83, LSE_LLINE=4695, LSE_RLINE=4709, lineinfo="@2(8221[45],8231[52])" *) FD1P3XZ \ICE_MEM.rd_data_w_13__I_0  (.D(\ICE_MEM.rd_data_w [13]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(R), .Q(rdData_FIFO[13]));
    defparam \ICE_MEM.rd_data_w_13__I_0 .REGSET = "RESET";
    defparam \ICE_MEM.rd_data_w_13__I_0 .SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=80, LSE_RCOL=83, LSE_LLINE=4695, LSE_RLINE=4709, lineinfo="@2(8221[45],8231[52])" *) FD1P3XZ \ICE_MEM.rd_data_w_14__I_0  (.D(\ICE_MEM.rd_data_w [14]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(R), .Q(rdData_FIFO[14]));
    defparam \ICE_MEM.rd_data_w_14__I_0 .REGSET = "RESET";
    defparam \ICE_MEM.rd_data_w_14__I_0 .SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=80, LSE_RCOL=83, LSE_LLINE=4695, LSE_RLINE=4709, lineinfo="@2(8221[45],8231[52])" *) FD1P3XZ \ICE_MEM.rd_data_w_15__I_0  (.D(\ICE_MEM.rd_data_w [15]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(R), .Q(rdData_FIFO[15]));
    defparam \ICE_MEM.rd_data_w_15__I_0 .REGSET = "RESET";
    defparam \ICE_MEM.rd_data_w_15__I_0 .SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=78, LSE_LCOL=80, LSE_RCOL=83, LSE_LLINE=4695, LSE_RLINE=4709, lineinfo="@2(8221[45],8231[52])" *) FD1P3XZ \ICE_MEM.rd_data_w_0__I_0  (.D(\ICE_MEM.rd_data_w [0]), 
            .SP(VCC_net), .CK(iIR_PClk_c), .SR(R), .Q(rdData_FIFO[0]));
    defparam \ICE_MEM.rd_data_w_0__I_0 .REGSET = "RESET";
    defparam \ICE_MEM.rd_data_w_0__I_0 .SRMODE = "ASYNC";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module My_PLL
//

module My_PLL (input GND_net, input clk_48MHz, output LOCK, output clk_main);
    
    (* is_clock=1, lineinfo="@11(62[6],62[15])" *) wire clk_48MHz;
    (* is_clock=1, lineinfo="@11(72[6],72[14])" *) wire clk_main;
    
    (* lineinfo="@3(37[41],50[26])" *) \My_PLL_ipgen_lscc_pll(DIVR="2",DIVF="49",DIVQ="2",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="48.000000") lscc_pll_inst (GND_net, 
            clk_48MHz, LOCK, clk_main);
    
endmodule

//
// Verilog Description of module \My_PLL_ipgen_lscc_pll(DIVR="2",DIVF="49",DIVQ="2",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="48.000000") 
//

module \My_PLL_ipgen_lscc_pll(DIVR="2",DIVF="49",DIVQ="2",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="48.000000") (input GND_net, 
            input clk_48MHz, output LOCK, output clk_main);
    
    (* is_clock=1, lineinfo="@11(62[6],62[15])" *) wire clk_48MHz;
    (* is_clock=1, lineinfo="@11(72[6],72[14])" *) wire clk_main;
    
    wire VCC_net, feedback_w;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=80, LSE_LCOL=41, LSE_RCOL=26, LSE_LLINE=37, LSE_RLINE=50, lineinfo="@3(37[41],50[26])" *) PLL_B u_PLL_B (.REFERENCECLK(clk_48MHz), 
            .FEEDBACK(feedback_w), .DYNAMICDELAY7(GND_net), .DYNAMICDELAY6(GND_net), 
            .DYNAMICDELAY5(GND_net), .DYNAMICDELAY4(GND_net), .DYNAMICDELAY3(GND_net), 
            .DYNAMICDELAY2(GND_net), .DYNAMICDELAY1(GND_net), .DYNAMICDELAY0(GND_net), 
            .BYPASS(GND_net), .RESET_N(VCC_net), .SCLK(GND_net), .SDI(GND_net), 
            .LATCH(GND_net), .INTFBOUT(feedback_w), .OUTGLOBAL(clk_main), 
            .LOCK(LOCK));
    defparam u_PLL_B.FEEDBACK_PATH = "SIMPLE";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_FEEDBACK = "FIXED";
    defparam u_PLL_B.FDA_FEEDBACK = "0";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_RELATIVE = "FIXED";
    defparam u_PLL_B.FDA_RELATIVE = "0";
    defparam u_PLL_B.SHIFTREG_DIV_MODE = "0";
    defparam u_PLL_B.PLLOUT_SELECT_PORTA = "GENCLK";
    defparam u_PLL_B.PLLOUT_SELECT_PORTB = "GENCLK";
    defparam u_PLL_B.DIVR = "2";
    defparam u_PLL_B.DIVF = "49";
    defparam u_PLL_B.DIVQ = "2";
    defparam u_PLL_B.FILTER_RANGE = "1";
    defparam u_PLL_B.EXTERNAL_DIVIDE_FACTOR = "NONE";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTA = "0";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTB = "0";
    defparam u_PLL_B.TEST_MODE = "0";
    defparam u_PLL_B.FREQUENCY_PIN_REFERENCECLK = "48.000000";
    VHI i1 (.Z(VCC_net));
    
endmodule
